﻿<!-- <h1>Hi {{currentUser.firstName}}!</h1> -->
<div style="margin-top: 64px;">
    <p>Home Page of AF</p>
    <h3>All registered users:</h3>
    <ul>
        <li>
            Continue as Admin User
            - <a href="/af/admin" class="text-info">Go</a>
        </li>
        <li>
            Continue as Trading User
            - <a href="/af/trading" class="text-info">Go</a>
        </li>
    </ul>
</div>