<mat-card>
    <mat-card-content>
        <mat-toolbar style="background-color:transparent">
            <mat-toolbar-row>
                <span>Interest table</span>
                <span class="example-spacer"></span>
                <button mat-icon-button color="primary" (click)="onRefreshInterestTable()">
                    <mat-icon class="icon" matTooltip="Refresh data">refresh</mat-icon>
                </button>
                <button mat-icon-button [disabled]="!isSomeRowBeingChecked" color="primary"
                    (click)="onUpdateInterestOptions()">
                    <mat-icon class="icon">save</mat-icon>
                </button>
                <!-- <button mat-icon-button [disabled]="!isSomeRowBeingChecked" color="primary"
                    (click)="onRemoveInterestOptions()">
                    <mat-icon class="icon">delete</mat-icon>
                </button> -->
                <button mat-icon-button color="primary">
                    <mat-icon aria-hidden="false" class="icon" aria-label="Example Add icon"
                        (click)="onOpenAddInterestDialog()">add
                    </mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-table #table [dataSource]="interestList">
            <ng-container matColumnDef="checked">
                <mat-header-cell *matHeaderCellDef>Check</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-checkbox (change)="onCheckingRow(element)" [(ngModel)]="element.checked">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>

            <!-- Effective Date Column -->
            <ng-container matColumnDef="effective_date">
                <mat-header-cell *matHeaderCellDef> Valid From </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field floatLabel="never">
                        <input matInput required readonly [matDatepicker]="effectiveDatePicker"
                             [disabled]="!element.checked" placeholder="Valid From"
                            [value]="element.effective_date" [(ngModel)]="element.effective_date">
                        <mat-datepicker-toggle matSuffix [for]="effectiveDatePicker">
                        </mat-datepicker-toggle>
                        <mat-datepicker #effectiveDatePicker></mat-datepicker>
                        <!-- <input matInput [readonly]="!element.checked" [disabled]="!element.checked"
                            placeholder="Valid From" [value]="element.effective_date" [(ngModel)]="element.effective_date"> -->
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <!-- Interest Column -->
            <ng-container matColumnDef="interest">
                <mat-header-cell *matHeaderCellDef> Interest (%/year) </mat-header-cell>

                <mat-cell *matCellDef="let element">
                    <mat-form-field floatLabel="never">
                        <input matInput [readonly]="!element.checked" [disabled]="!element.checked"
                            placeholder="Period value" [value]="element.value" [(ngModel)]="element.value">
                    </mat-form-field>
                </mat-cell>
                <!-- <mat-cell *matCellDef="let element"> {{element.interest}} </mat-cell> -->
            </ng-container>

            <!-- Interest Column -->
            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>

                <mat-cell *matCellDef="let element">
                    <mat-form-field floatLabel="never">
                        <input matInput [readonly]="!element.checked" [disabled]="!element.checked"
                            placeholder="Period value" [value]="element.description" [(ngModel)]="element.description">
                    </mat-form-field>
                </mat-cell>
                <!-- <mat-cell *matCellDef="let element"> {{element.interest}} </mat-cell> -->
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{hovered: row.hovered}"
                (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
        </mat-table>
        <mat-paginator [length]="totalItems" [pageSize]="pageSize" (page)="pageEvent = onTableChange($event)"
            [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </mat-card-content>
</mat-card>