<!-- <div class="border border-primary"> -->
<mat-card>
    <mat-card-content>
        <div class="container">

            <div class="row">
                <div class="col">
                    <button mat-stroked-button color="accent" (click)="onClickNewUserCreation()">
                        <mat-icon>create_new_folder</mat-icon>Create new Trading User
                    </button>
                </div>
            </div>
            <div *ngIf="isOpeningNewUserCreationForm" class="row">
                <div class="col">
                    <form [formGroup]="newUserCreationForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <mat-form-field [floatLabel]='always' class="full-width">
                                        <input matInput placeholder="Firt Name" required formControlName="firstName">
                                    </mat-form-field>
                                </div>
                                <div class='col'>
                                    <mat-form-field [floatLabel]='always' class="full-width">
                                        <input matInput placeholder="Last Name" required formControlName="lastName">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <mat-form-field [floatLabel]='always' class="full-width">
                                        <input matInput placeholder="Phone Number:" required formControlName="mobile">
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field [floatLabel]='always' class="full-width">
                                        <input matInput placeholder="Email" required formControlName="email">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <mat-form-field [floatLabel]='always' class="full-width">
                                        <input matInput placeholder="Personal Identity Number:" required
                                            formControlName="PIN">
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field [floatLabel]='always' class="full-width">
                                        <mat-label>Issue date</mat-label>
                                        <input matInput required readonly [matDatepicker]="PINIssuedDatePicker"
                                            formControlName="PIN_issue_date">
                                        <mat-datepicker-toggle matSuffix [for]="PINIssuedDatePicker">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #PINIssuedDatePicker></mat-datepicker>
                                    </mat-form-field>

                                </div>
                                <div class="col">
                                    <mat-form-field [floatLabel]='always' class="full-width">
                                        <input matInput placeholder="Issue location" required
                                            formControlName="PIN_issue_location">
                                    </mat-form-field>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <mat-form-field [floatLabel]='always'>
                                        <mat-label>Bank</mat-label>
                                        <mat-select required formControlName="_bank_id">
                                            <mat-option *ngFor="let bank of bankList" [value]="bank">
                                                {{bank.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field [floatLabel]='always' class="full-width">
                                        <input matInput placeholder="Bank branch" required
                                            formControlName="bank_branch">
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field [floatLabel]='always' class="full-width">
                                        <input matInput placeholder="Bank account number" required
                                            formControlName="bankaccount_number">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <mat-form-field [floatLabel]='always' class="full-width">
                                <input matInput placeholder="Address" required formControlName="address">
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary">
                                Create user
                            </button>
                            <a (click)="onClickCancel()" class="btn btn-link">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col">
                    <mat-toolbar style="background-color:transparent">
                        <mat-toolbar-row>
                            <span>User table</span>
                            <span class="example-spacer"></span>
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-icon matPrefix>search</mat-icon>
                                    <input matInput (keydown.enter)="onSearchUser($event.target.value)" >
                                    <mat-label>Search by email</mat-label>
                                </mat-form-field>
                            </div>
                            <button mat-icon-button color="primary" (click)="onRefreshUserTable()">
                                <mat-icon class="icon" matTooltip="Refresh data">refresh</mat-icon>
                            </button>
                            <button mat-icon-button [disabled]="!isSomeRowBeingChecked" color="primary"
                                (click)="onUpdateInterestOptions()">
                                <mat-icon class="icon">save</mat-icon>
                            </button>
                            <!-- <button mat-icon-button [disabled]="!isSomeRowBeingChecked" color="primary"
                                            (click)="onRemoveInterestOptions()">
                                            <mat-icon class="icon">delete</mat-icon>
                                        </button> -->
                        </mat-toolbar-row>
                    </mat-toolbar>
                    <mat-table #table [dataSource]="listOfUsers">
                        <ng-container matColumnDef="checked">
                            <mat-header-cell *matHeaderCellDef>Check</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <mat-checkbox (change)="onCheckingRow(element)" [(ngModel)]="element.checked">
                                </mat-checkbox>
                            </mat-cell>
                        </ng-container>

                        <!-- User Name Column -->
                        <ng-container matColumnDef="user_name">
                            <mat-header-cell *matHeaderCellDef> User name </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.name}}
                            </mat-cell>
                        </ng-container>

                        <!-- Email Column -->
                        <ng-container matColumnDef="email">
                            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>

                            <mat-cell *matCellDef="let element">
                                {{element.email}}
                            </mat-cell>
                        </ng-container>

                        <!-- Interest Column -->
                        <ng-container matColumnDef="mobile">
                            <mat-header-cell *matHeaderCellDef> Phone number </mat-header-cell>

                            <mat-cell *matCellDef="let element">
                                {{element.mobile}}
                            </mat-cell>
                            <!-- <mat-cell *matCellDef="let element"> {{element.interest}} </mat-cell> -->
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>

                            <mat-cell *matCellDef="let element">
                                {{getStatusString(element.status)}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="role">
                            <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>

                            <mat-cell *matCellDef="let element">
                                {{getRoleString(element._role_id)}}
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{hovered: row.hovered}"
                            (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
                    </mat-table>
                    <mat-paginator [length]="totalItems" [pageSize]="pageSize"
                        (page)="pageEvent = onTableChange($event)" [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>