.mat-row.hovered {
  background: #eee;
}
.ng-container:hover {
  background: #777;
}

// .mat-form-field-class {
//   // font-size: 14px;
//   // width: 100%;
// }

.example-spacer {
  flex: 1 1 auto;
}
.full-width {
  width: 100%;
}
// .mat-form-field {
//   font-size: inherit;
//   /* font-weight: 400; */
//   // line-height: 1.125;
//   font-family: Roboto, 'Helvetica Neue', sans-serif;
// }
