<div>

    <match-result-history [targetStockOrder]="_stock_order_id"></match-result-history>
    <div class="form-group" align="end">
        <button class="btn btn-primary"  (click)="onCloseDialog()">
            Cancel
        </button>
    </div>
</div>