<mat-table #table [dataSource]="matchedRSList">

    <ng-container matColumnDef="matchedTime">
        <mat-header-cell *matHeaderCellDef> {{'MATCH_TIME_COL' | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.match_date_time | date: 'dd-MM, yyyy HH:mm:ss'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="matchedPrice">
        <mat-header-cell *matHeaderCellDef> {{'MATCH_PRICE_COL' | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-form-field>
                <input matInput disabled readonly [value]='element.match_price' matInputCommified>
            </mat-form-field>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="matchedAmount">
        <mat-header-cell *matHeaderCellDef> {{'MATCH_QUANTITY_COL' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-form-field>
                <input matInput disabled readonly [value]='element.match_amount' matInputCommified>
            </mat-form-field>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="propertyReturnDate">
        <mat-header-cell *matHeaderCellDef> {{'RETURN_DATE_COL' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.property_return_date | date: 'dd-MM, yyyy'}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>