
.example-spacer {
  flex: 1 1 auto;
}
.logo {
  width: 40px;
  height: 40px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.icon {
  display: inline !important;
  margin: 0 auto;
  padding: 0 5px;
  text-align: center;
  vertical-align: middle;
}

.fixed-header {
  position: fixed;
  z-index:999;
  height: 40px;
}

// .app-toolbar {
//     position: sticky;
//     position: -webkit-sticky; /* For macOS/iOS Safari */
//     top: 0; /* Sets the sticky toolbar to be on top */
//     z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
// }

.shadow {
      -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 18px 0 rgba(0,0,0,.12);
}

.box-shadow-class {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
