<mat-toolbar color="primary">
    <mat-toolbar-row>
            <button mat-icon-button (click)="onToggleSidenav()" fxShow="true" fxHide.gt-sm>
                <mat-icon>menu</mat-icon>
            </button>
        <a>
            <img class="logo" src="/assets/images/af1-logo.png">
        </a>
        <app-theme-picker></app-theme-picker>
        <span class="example-spacer"></span>
        <div style="display: flex;">


            <div *ngIf="currentUser">
                <a placement="bottom" container="body" ngbTooltip="Actions" [matMenuTriggerFor]="usermenu">
                    <mat-icon class="icon" style='font-size: 30px'>account_circle</mat-icon>
                </a>
                <mat-menu #usermenu="matMenu" container="body" yPosition="below" xPosition="before">
                    <button mat-menu-item (click)="onOpenICCreationPage()">
                        <mat-icon>verified_user</mat-icon>
                        <span>{{currentUser.user.email}}</span>
                    </button>
                    <button *ngIf="currentUser.user._role_id === role.TRADING_USER || currentUser.user._role_id === role.MG_USER " mat-menu-item (click)="onOpenAssetReportsPage()">
                        <mat-icon>verified_user</mat-icon>
                        <span>Assets report</span>
                    </button>
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>input</mat-icon>
                        <span>Log out</span>
                    </button>
                </mat-menu>
            </div>
            <div>
                <a placement="bottom" ngbTooltip="Home" container="body">
                    <mat-icon class="icon" style='font-size: 30px'>home</mat-icon>
                </a>
            </div>
            <div>
                <app-language-selector class="navbar-item " style='font-size: 20px; padding-left: 10px;'>
                </app-language-selector>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>