<div class="sidenav_container" [@onSideNavChange]="sideNavState ? 'open' : 'close'">
    <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">
        <div class="user_menu">
            <mat-nav-list (click)="onSinenavToggle()">
                <a mat-list-item>
                    <img class="jim" src="/assets/images/single_user.png" alt="">
                    <span [@animateText]="linkText ? 'show' : 'hide'">{{currentUserName}}</span>
                </a>
            </mat-nav-list>
            <mat-divider></mat-divider>
        </div>
        <div>
            <ng-material-multilevel-menu [configuration]='config' [linkText]='linkText' [items]='appitems'
                (selectedItem)="selectedItem($event)">
            </ng-material-multilevel-menu>
        </div>
    </div>

    <span class="spacer"></span>
    <!-- <div fxLayout="row" fxLayoutAlign="end center" style="padding: 0px 10px;">
        <button mat-icon-button (click)="onSinenavToggle()">
            <mat-icon *ngIf="sideNavState">arrow_left</mat-icon>
            <mat-icon *ngIf="!sideNavState">arrow_right</mat-icon>
        </button>
    </div> -->
</div>