.amml-item {
  line-height: 48px;
  position: relative;
  cursor: pointer;
}

.anml-data {
  width: 100%;
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
  height: 48px;
}

.disabled-amml-item {
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.amml-icon-fa {
  font-size: 20px;
}

.label{
  line-height: 48px;
}

.amml-icon {
  line-height: 48px;
}
.amml-svg-icon {
  line-height: 57px;
  width: 22px;
  height: 22px;
}
.amml-icon-arrow-container {
  direction: ltr;
  display: flex;
  align-items: center;
}
div[dir="ltr"] .amml-icon {
  margin-right: 5px;
}
div[dir="ltr"].amml-submenu {
  margin-left: 16px;
}

div[dir="rtl"] .amml-icon {
  margin-left: 5px;
}
div[dir="rtl"].amml-submenu {
  margin-right: 16px;
}

.jim {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

/* .mat-row.hovered {
  background: #eee;
}
.ng-container:hover {
  background: #777;
} */
/* .mat-list-item:hover {
background: rgba(0,0,0,.54);
cursor: pointer;
}
.ng-list-item:hover {
background: rgba(0,0,0,.54);
cursor: pointer;
} */