<span style="position: absolute; top: 30%; left: 45%; color: #fff;">
    Copyright &copy; 2019 AF Group 
</span>
<!-- <footer class="page-footer font-small blue fixed-bottom">

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>

</footer> -->