.app-footer {
  font-size: 20px; }

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

#footer {
  color: red;
  width: 100%;
  height: 50px;
  background-color: #636363; }

#footer > .container {
  margin: 0 auto; 
}
  
  
a {
  text-decoration: none;
  // color: white;
}

a:hover,
a:active {
  color: lightgray;
}
