::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #7e8dde;
  outline: 1px solid slategrey;
}

* {
  /* font-family: 'Tenor Sans', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: “72”, “72full”, Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
}

h2 {
    font-size: 33px;
    font-weight: 200;
    color: #427CAC
}

.af-footer {
  background-color: #3f51b5;
  bottom: 0;
  height: 39px;
  width: 100%;
  position: fixed;
  text-align: center;
  margin-bottom: 0px;
}
.transparent .mat-dialog-container {
  box-shadow: none;
  background: rgba(0, 0, 0, 0);
}
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
/* @import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; */
/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */
/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/theming';
@import './app-theme';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include material-custom-theme($theme); */
