<!-- <div class="jumbotron">
    <div class="container">
        <div class="row"> -->

<div class="col-sm-12 offset-sm-0">
    <h2>{{'CASH_MANAGEMENT' | translate}}</h2>
    <div>
        <!-- <div class="card-container border border-primary scrollbar-deep-purple bordered-deep-purple thin"> -->
        <!-- <div class="scroll-container border scrollbar-deep-purple bordered-deep-purple thin"> -->
        <!-- TODO: Add here the current valid orders -->
        <!-- </div> -->
        <!-- <mat-card-content>
            <mat-card> -->
                <nav mat-tab-nav-bar matRipple matRippleColor="pink" >
                    <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive"
                        [active]="rla.isActive">
                    {{link.label | translate}} 
                    </a>
                </nav>
                <router-outlet></router-outlet>
            <!-- </mat-card>
        </mat-card-content> -->
    </div>
    <!-- </div>
        </div>
    </div> -->