<div class="col-sm-12 offset-sm-0">
    <h2>User Management</h2>
    <div>
        <nav mat-tab-nav-bar>
            <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive
                #rla="routerLinkActive" [active]="rla.isActive">
                {{link.label}}
            </a>
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>