<!-- <div class="border border-primary"> -->
<mat-card>
    <mat-card-content>
        <form [formGroup]="withdrawCashForm" (ngSubmit)="onSubmit();"
            style='padding-left:5px; padding-top: 5px; padding-right: 5px;'>
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 offset-sm-0">
                        <mat-form-field [floatLabel]='always' class="customer-form-field-class">
                            <input type="text" matInput placeholder="{{'CUSTOMER' | translate}}" aria-label="Customer"
                                [matAutocomplete]="auto" formControlName="customer"
                                (input)="onTyping($event.target.value)">
                            <mat-autocomplete #auto="matAutocomplete"
                                (optionSelected)="onChangingCustomer($event.option.value)"
                                [displayWith]="displayProperty">
                                <mat-option *ngFor="let customer of listOfCustomers" [value]="customer">
                                    <!-- <img class="example-option-img" aria-hidden [src]="customer.flag" height="25"> -->
                                    <span>{{customer.name}}</span> |
                                    <small>{{customer.mobile}} | {{customer.email}}</small>
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
                <mat-card>
                    <mat-card-content>
                        <div class='row'>
                            <div class="col">
                                <div>
                                    {{'VALID_CASH_LBL' | translate}}
                                </div>
                                <mat-chip-list>
                                    <mat-chip matInputCommified>
                                        <input matInput readonly matInputCommified
                                        [value]="currentFinanceInfo.validCashForBuying | currency: 'VND': 'symbol': '4.2-2'">
                                       </mat-chip>
                                </mat-chip-list>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col">
                                <mat-form-field [floatLabel]='always'>
                                    <mat-label>{{'WITHDRAW_AMOUNT' | translate}}</mat-label>
                                    <input matInput required matInputCommified formControlName="amount">
                                    <mat-error *ngIf="f.amount.errors && f.amount.errors.notEnoughForBuying">
                                        {{'ERROR_TOTAL_AMOUNT_TXT' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field [floatLabel]='always'>
                                    <mat-label>{{'WITHDRAW_DATE' | translate}}</mat-label>
                                    <input matInput required readonly [matDatepicker]="publishedDatePicker"
                                        [min]="minPublishedDate" [max]="maxPublishedDate" [ngModel]="today"
                                        [matDatepickerFilter]="invalidTopupDate" formControlName="date">
                                    <mat-datepicker-toggle matSuffix [for]="publishedDatePicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #publishedDatePicker [startAt]="startDate"></mat-datepicker>
                                </mat-form-field>


                            </div>
                            <div class="col">
                                <mat-form-field class="mat-form-field-fluid">
                                    <mat-label>{{'WITHDRAW_TIME' | translate}}</mat-label>
                                    <input matInput formControlName="time" [ngxTimepicker]="timePicker" [ngModel]="defaultWithdrawTime" [format]='24'
                                        readonly>
                                    <ngx-material-timepicker #timePicker [appendToInput]="true">
                                    </ngx-material-timepicker>
                                    <!-- <mat-datepicker-toggle matSuffix [for]="timePicker">
                                    </mat-datepicker-toggle> -->
                                    <mat-icon matSuffix>access_time</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field [floatLabel]='always' class="customer-form-field-class">
                                    <mat-label>{{'NOTE_COL' | translate}}</mat-label>
                                    <input matInput required formControlName="transactionRef">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col">
                                <button mat-stroked-button color="accent"  matTooltip="{{'WITHDRAW_TOOLTIP_BTN' | translate}}">
                                    <mat-icon>save</mat-icon>{{'WITHDRAW' | translate}}
                                </button>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <div class="row" style="margin-top: 20px;">
                    <div class="col">
                        <financial-statements [targetUser]="targetUser._id"></financial-statements>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>

<!-- </div> -->