<mat-card>
    <mat-card-content>
        <mat-toolbar style="background-color:transparent">
            <mat-toolbar-row>
                <span>List of banks</span>
                <span class="example-spacer"></span>
                <button mat-icon-button color="primary" (click)="onRefreshBankTable()">
                    <mat-icon class="icon" matTooltip="Refresh data">refresh</mat-icon>
                </button>
                <button mat-icon-button [disabled]="!isSomeRowBeingChecked" color="primary" (click)="onUpdateBankItem()">
                    <mat-icon class="icon" matTooltip="Save">save</mat-icon>
                </button>
                <button mat-icon-button [disabled]="!isSomeRowBeingChecked" color="primary" (click)="onRemoveBankItem()">
                    <mat-icon class="icon" matTooltip="Delete">delete</mat-icon>
                </button>
                <button mat-icon-button color="primary">
                    <mat-icon aria-hidden="false" class="icon" matTooltip="Create a new bank"
                        (click)="onOpenAddNewBankDialog()">add
                    </mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-table #table [dataSource]="bankList">
            <ng-container matColumnDef="checked">
                <mat-header-cell *matHeaderCellDef>Check</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-checkbox (change)="onCheckingRow(element)" [(ngModel)]="element.checked">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>

            <!-- Id Column -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
            
                <mat-cell *matCellDef="let element">
                    <mat-form-field floatLabel="never">
                        <input matInput readonly disabled
                            [value]="element._id" [(ngModel)]="element._id">
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <!-- Created Date Column -->
            <ng-container matColumnDef="created_at">
                <mat-header-cell *matHeaderCellDef> Created at </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field floatLabel="never">
                        <input matInput required readonly [matDatepicker]="effectiveDatePicker"
                            readonly disabled
                            [value]="element.created_at">
                        <mat-datepicker-toggle matSuffix [for]="effectiveDatePicker">
                        </mat-datepicker-toggle>
                        <mat-datepicker #effectiveDatePicker></mat-datepicker>
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> name </mat-header-cell>

                <mat-cell *matCellDef="let element">
                    <mat-form-field floatLabel="never">
                        <input matInput [readonly]="!element.checked" [disabled]="!element.checked"
                            placeholder="Bank name" [value]="element.name" [(ngModel)]="element.name">
                    </mat-form-field>
                </mat-cell>
                <!-- <mat-cell *matCellDef="let element"> {{element.interest}} </mat-cell> -->
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{hovered: row.hovered}"
                (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
        </mat-table>
        <mat-paginator [length]="totalItems" [pageSize]="pageSize" (page)="pageEvent = onTableChange($event)"
            [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </mat-card-content>
</mat-card>