<!-- <div class="border border-primary"> -->
<mat-card>
    <mat-card-content>
        <!-- <div class='parentDiv'> -->
        <mat-toolbar style="background-color:transparent">

            <mat-toolbar-row>
                <span>List of valid stocks</span>
                <span class="example-spacer"></span>
                <button mat-icon-button color="primary" (click)="onRefreshEscrowTable()">
                    <mat-icon class="icon" matTooltip="Refresh data">refresh</mat-icon>
                </button>
                <button mat-icon-button [disabled]="!isSomeRowBeingChecked" color="primary"
                    (click)="onUpdateInterestOptions()">
                    <mat-icon class="icon" matTooltip="Save">save</mat-icon>
                </button>
                <button mat-icon-button [disabled]="!isSomeRowBeingChecked" color="primary"
                    (click)="onRemoveInterestOptions()">
                    <mat-icon class="icon" matTooltip="Delete">delete</mat-icon>
                </button>
                <button mat-icon-button color="primary">
                    <mat-icon aria-hidden="false" class="icon" (click)="onOpenAddStockDialog()"
                        matTooltip="Add new Stock">add
                    </mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <!-- </div> -->
        <mat-table #table [dataSource]="listOfStocks">
            <ng-container matColumnDef="checked">
                <mat-header-cell *matHeaderCellDef>Check</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-checkbox (change)="onCheckingRow(element)" [(ngModel)]="element.checked"></mat-checkbox>
                </mat-cell>
            </ng-container>
            <!-- ID Column -->
            <ng-container matColumnDef="_id" style="width: 10%">
                <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element._id }} </mat-cell>
            </ng-container>

            <!-- Stock Column -->
            <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef> Stock </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.code}}
                    <!-- <mat-form-field floatLabel="never">
                            <input matInput [readonly]="!element.checked" [disabled]="!element.checked"
                                placeholder="Stock value" [value]="element.code" [(ngModel)]="element.code" />
                        </mat-form-field> -->
                </mat-cell>
            </ng-container>

            <!-- Escrow Column -->
            <ng-container matColumnDef="escrow_rate">
                <mat-header-cell *matHeaderCellDef> Escrow (%)</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field class="mat-form-field-class" floatLabel="never">
                        <input matInput [readonly]="!element.checked" [disabled]="!element.checked"
                            placeholder="Escrow value value" [value]="element.escrow_rate"
                            [(ngModel)]="element.escrow_rate" />
                    </mat-form-field>
                </mat-cell>
                <!-- <mat-cell *matCellDef="let element"> {{element.interest}} </mat-cell> -->
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{ hovered: row.hovered }"
                (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
        </mat-table>
        <mat-paginator [length]="totalItems" [pageSize]="pageSize" (page)="pageEvent = onTableChange($event)"
            [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </mat-card-content>
</mat-card>
<!-- <button mat-stroked-button (click)="onTesting()"> -->
<!-- </button> -->

<!-- </div> -->