<div style="margin-top: 68px;">
    <mat-sidenav-container class="sidenav-container" autosize style="height: 85.5vh;">
        <mat-sidenav #leftSidenav mode="side" opened style="padding-right: 0px;">
            <af-left-menu></af-left-menu>
        </mat-sidenav>
        <mat-sidenav-content [@onMainContentChange]="onSideNavChange  ? 'open': 'close'">
            <div class="scroll-container border scrollbar-deep-purple bordered-deep-purple thin">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>