<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 offset-sm-0">
                <h2>IC Management</h2>
                <div class="main-content">
                    <div class="container-fluid">
                        <div class="card-container">
                            <div class="card-element-boundary"
                                *ngFor="let d of currentICs; let index=index; let odd=odd; let even=even;">
                                <ng-container>
                                    <div class="card-element">
                                        <div class="card card-stats">
                                            <div class="card-header card-header-warning card-header-icon">
                                                <div class="card-icon">
                                                    <i class="material-icons">attach_money</i>
                                                </div>
                                                <span [ngClass]="(d.status=='Active')?'text-success':'text-danger'"><i
                                                        class="fa fa-long-arrow-up"></i> {{d.status}} </span>
                                                <!-- <p class="card-category">IC Name</p> -->
                                                <h4 class="card-title">{{d.product_name}}
                                                </h4>
                                                <!-- <h4 class="card-title">{{d.product_name}}
                                                </h4> -->
                                                <h5 class="card-title">{{d.period}} mths</h5>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">{{d.denomination}} VND</h4>
                                                <p class="card-category">
                                                    <span class="text-success"><i class="fa fa-long-arrow-up"></i>
                                                        {{d.interest_rate}}%</span>
                                                    per year</p>
                                            </div>
                                            <div class="card-footer">
                                                <div class="stats">
                                                    <i class="material-icons">account_balance</i>
                                                    {{d.published_amount}} ICs
                                                </div>
                                                <div class="stats">
                                                    <i class="material-icons text-primary">more</i>
                                                    <a href="javascript:void(0)">See details</a>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <div class="stats">
                                                    <!-- <i class="material-icons text-primary">publish</i>
                                                    <a href="javascript:void(0)">Publish new ICs...</a> -->
                                                </div>
                                                <div>
                                                    <a placement="bottom" container="body" ngbTooltip="More Actions"
                                                        [matMenuTriggerFor]="menu">
                                                        <mat-icon class="material-icons icon">more_vert</mat-icon>
                                                    </a>
                                                    <mat-menu #menu="matMenu" container="body" yPosition="below"
                                                        xPosition="before">
                                                        <button mat-menu-item [disabled]="(d.status=='InActive')"
                                                            (click)="onDeactivateICProduct(d.id)">
                                                            <mat-icon>visibility_off</mat-icon>
                                                            <span>Deactivate IC Product</span>
                                                        </button>
                                                        <button mat-menu-item [disabled]="(d.status=='Active')"
                                                            (click)="onActivateICProduct(d.id)">
                                                            <mat-icon>visibility</mat-icon>
                                                            <span>Activate IC Product</span>
                                                        </button>
                                                        <button mat-menu-item>
                                                            <mat-icon>delete</mat-icon>
                                                            <span>Delete IC Product</span>
                                                        </button>
                                                        <button mat-menu-item (click)="onOpenICPublishingDialog(d)">
                                                            <mat-icon>publish</mat-icon>
                                                            <span>Publish new ICs...</span>
                                                        </button>
                                                    </mat-menu>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="fab-container">
                    <button mat-fab class="fab-toggler" (click)="onOpenICCreationDialog()">
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </div>
        </div>
    </div>