<!-- <div class="jumbotron">
    <div class="container">
        <div class="row"> -->

<div class="col-sm-12 offset-sm-0">
    <h2>Stock Order Management</h2>
    <div>
        <!-- <div class="card-container border border-primary scrollbar-deep-purple bordered-deep-purple thin"> -->
        <!-- <div class="scroll-container border scrollbar-deep-purple bordered-deep-purple thin"> -->
        <!-- TODO: Add here the current valid orders -->
        <!-- </div> -->
        <nav mat-tab-nav-bar>
            <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive">
                {{link.label | translate}}
            </a>
        </nav>
        <router-outlet></router-outlet>
        <!-- <mat-card-content>
            <mat-card>
                <mat-tab-group animationDuration="0ms" [selectedIndex]="selectedFormTab"
                    (selectedTabChange)="onChangingSelectedFrom($event)">
                    <mat-tab label="Stock Order Form">
                        <ng-template matTabContent>
                            <stock-order-form></stock-order-form>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="Stock Order List">
                        <ng-template matTabContent>
                            <stock-order-list></stock-order-list>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </mat-card-content> -->
    </div>
    <!-- </div>
        </div>
    </div> -->