<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 offset-sm-0">
                <h2>IC Interest Management</h2>
                <div class="main-content">
                    <mat-toolbar style="background-color:transparent">
                        <mat-toolbar-row>
                            <span>Interest table</span>
                            <span class="example-spacer"></span>
                            <button mat-icon-button [disabled]="!isSomeRowBeingChecked" color="primary" (click)="onUpdateInterestOptions()">
                                <mat-icon class="icon">save_outline</mat-icon>
                            </button>
                            <button mat-icon-button [disabled]="!isSomeRowBeingChecked" color="primary" (click)="onRemoveInterestOptions()">
                                <mat-icon class="icon">delete_outline</mat-icon>
                            </button>
                            <button mat-icon-button color="primary">
                                <mat-icon aria-hidden="false" class="icon" aria-label="Example Add icon" (click)="onOpenAddInterestDialog()">add_outline
                                </mat-icon>
                            </button>
                        </mat-toolbar-row>
                    </mat-toolbar>
                </div>

            </div>
        </div>
    </div>