<!-- <div class="border border-primary"> -->

<mat-card>
    <mat-card-content>
        <form [formGroup]="loansForm" style="padding-left:0px; padding-top: 0px; padding-right: 0px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 offset-sm-0">
                        <mat-form-field [floatLabel]="always" class="customer-form-field-class">
                            <input type="text" matInput placeholder="{{ 'CUSTOMER_LBL' | translate }}"
                                aria-label="Customer" [matAutocomplete]="auto" formControlName="customer"
                                (input)="onTyping($event.target.value)" />
                            <mat-autocomplete #auto="matAutocomplete"
                                (optionSelected)="onChangingCustomer($event.option.value)"
                                [displayWith]="displayProperty">
                                <mat-option *ngFor="let customerItem of listOfCustomers" [value]="customerItem">
                                    <!-- <img class="example-option-img" aria-hidden [src]="customer.flag" height="25"> -->
                                    <span>{{ customerItem.name }}</span> |
                                    <small>{{ customerItem.mobile }} | {{ customerItem.email }}</small>
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field [floatLabel]='always'>
                            <mat-label>{{ 'INTEREST_TO_DATE' | translate }}</mat-label>
                            <input matInput required [ngModel]='defaultDate' [matDatepicker]="interestDatePicker"
                                [max]="maxValidInterestDate" formControlName="interestDate"
                                (dateChange)="onInterestDateChange()">
                            <mat-datepicker-toggle matSuffix [for]="interestDatePicker">
                            </mat-datepicker-toggle>
                            <mat-datepicker #interestDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div>
                            {{'VALID_CASH_FOR_WITHDRAW_OR_BUYING_TXT' | translate}}
                        </div>
                        <mat-chip-list>
                            <mat-chip matInputCommified>
                                <!-- | number:'1.0-0' -->
                                <input matInput readonly matInputCommified
                                    matTooltip="{{'VALID_CASH_FOR_WITHDRAW_OR_BUYING_TOOLTIP' | translate}}"
                                    [value]="currentFinanceInfo.validCashForBuying | currency: 'VND': 'symbol': '4.0-0'">
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                    <div class="col">
                        <div>
                            {{'CURRENT_INTEREST_VALUE_FOR_ONGOING_LOANS_TXT' | translate}}
                        </div>
                        <mat-chip-list>
                            <mat-chip matInputCommified>
                                <!-- [value]="currentInterestValueForOnGoingLoans | currency: 'VND': 'symbol': '4.2-2'" -->
                                <input matInput readonly matInputCommified
                                    matTooltip="{{'CURRENT_INTEREST_VALUE_FOR_ONGOING_LOANS_TXT_TOOLTIP' | translate}}"
                                    [value]="currentInterestValueForOnGoingLoans | currency: 'VND': 'symbol': '4.0-0'">
                            </mat-chip>
                        </mat-chip-list>
                        <mat-checkbox formControlName="is_ongoing_loans_settlement"
                            [(ngModel)]="isOnGoingLoansSettlement">Check to settle</mat-checkbox>
                    </div>
                    <div class="col">
                        <div>
                            {{'CURRENT_INTEREST_VALUE_FOR_DONE_LOANS_TXT' | translate}}
                        </div>
                        <mat-chip-list>
                            <mat-chip matInputCommified>
                                <input matInput readonly matInputCommified
                                    matTooltip="{{'CURRENT_INTEREST_VALUE_FOR_DONE_LOANS_TXT_TOOLTIP' | translate}}"
                                    [value]="currentInterestValueForDoneLoans | currency: 'VND': 'symbol': '4.0-0'">
                            </mat-chip>
                        </mat-chip-list>
                        <mat-checkbox formControlName="is_done_loans_settlement" [(ngModel)]="isDoneLoansSettlement">
                            Check to settle</mat-checkbox>
                    </div>
                    <div class="col">
                        <button mat-stroked-button color="accent" (click)='onClickToSettleInterest()'
                            matTooltip="{{'INTERST_SETTLEMENT_BTN_TOOLTIP' | translate}}">
                            <mat-icon>save</mat-icon>{{'INTERST_SETTLEMENT_BTN' | translate}}
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div>
                            {{'CURRENT_ESCROW_COL' | translate}} %
                        </div>
                        <mat-chip-list>
                            <mat-chip matInputCommified>
                                <!-- [value]="currentInterestValueForOnGoingLoans | currency: 'VND': 'symbol': '4.2-2'" -->
                                <input matInput readonly matInputCommified
                                    matTooltip="{{'CURRENT_ESCROW_COL' | translate}} %"
                                    [value]="currentEscrowRate | number : '2.2-2'">
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-toolbar style="background-color:transparent">

                            <mat-toolbar-row>
                                <span>On going loans</span>
                                <span class="example-spacer"></span>
                                <button mat-icon-button color="primary" (click)="onRefreshPage()">
                                    <mat-icon class="icon" matTooltip="Refresh data">refresh</mat-icon>
                                </button>
                            </mat-toolbar-row>
                        </mat-toolbar>
                        <mat-table #table1 [dataSource]="onGoingLoansList">
                            <ng-container matColumnDef="stock">
                                <mat-header-cell *matHeaderCellDef>{{'STOCK_COL' | translate}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <a (click)="openMatchDetailHistoryDialog(element.stock_order._id)">
                                        {{ element.stock.code }}
                                    </a>
                                </mat-cell>
                            </ng-container>

                            <!-- Quantity Column -->
                            <ng-container matColumnDef="quantity">
                                <mat-header-cell *matHeaderCellDef> {{'QUANTITY_COL' | translate}} </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <mat-form-field>

                                        <mat-label>{{displayStockReturnDate(element)}}
                                        </mat-label>
                                        <input matInput readonly [value]="element.quantity" matInputCommified>
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>

                            <!-- Price Column -->
                            <ng-container matColumnDef="price">
                                <mat-header-cell *matHeaderCellDef> {{'PRICE_COL' | translate}} </mat-header-cell>

                                <mat-cell *matCellDef="let element">
                                    {{ element.price | number:'1.0-0'}}
                                </mat-cell>
                            </ng-container>

                            <!-- Current price Column -->
                            <ng-container matColumnDef="current_price">
                                <mat-header-cell *matHeaderCellDef> {{'CURRENT_PRICE_COL' | translate}}
                                </mat-header-cell>

                                <mat-cell *matCellDef="let element">
                                    <mat-form-field>
                                        <input matInput readonly [value]="getCurrentPrice(element) | number:'1.0-0'"
                                            matInputCommified>
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>

                            <!-- Transaction value Column -->
                            <ng-container matColumnDef="min_required_reserve_rate">
                                <mat-header-cell *matHeaderCellDef>
                                    {{'MIN_REQUIRED_RESERVE_TO_FORCESELL_COL' | translate}}
                                </mat-header-cell>

                                <mat-cell *matCellDef="let element">
                                    <mat-form-field>
                                        <input matInput readonly [value]='getMinRequiredReserve(element)'
                                            matInputCommified>
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>

                            <!-- Current escrow for each loan value Column -->
                            <ng-container matColumnDef="current_esrcrow_rate">
                                <mat-header-cell *matHeaderCellDef>
                                    {{'CURRENT_ESCROW_COL' | translate}} %
                                </mat-header-cell>
                                
                                <mat-cell *matCellDef="let element">
                                    <mat-form-field>
                                        <mat-label>Value {{displayRealTimeEscrowValue(element)}}
                                        </mat-label>
                                        <input matInput readonly
                                            [value]="getCurrentEscrowRate(element) | number:'1.2-2'" matInputCommified>
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>

                            <!-- Start date Column -->
                            <ng-container matColumnDef="start_date">
                                <mat-header-cell *matHeaderCellDef>
                                    {{'START_DATE_COL' | translate}}
                                </mat-header-cell>

                                <mat-cell *matCellDef="let element">
                                    {{ element.start_date | date: 'dd-MM, yyyy'}}
                                </mat-cell>
                            </ng-container>

                            <!-- Escrow value column -->
                            <ng-container matColumnDef="escrow_value">
                                <mat-header-cell *matHeaderCellDef>
                                    {{'ESCROW_VALUE' | translate}}
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <mat-form-field [floatLabel]='always'>
                                        <!-- <mat-label>Total {{getLoansValue(element)}}
                                        </mat-label> -->
                                        <input matInput readonly [value]="getRealEscrowValue(element) | number:'1.0-0'" matInputCommified>
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <!-- Loans value column -->
                            <ng-container matColumnDef="loans_value">
                                <mat-header-cell *matHeaderCellDef>
                                    {{'LOAN_COL' | translate}}
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <mat-form-field [floatLabel]='always'>
                                        <mat-label>Total {{getLoansValue(element)}}
                                        </mat-label>
                                        <input matInput readonly [value]="getRealLoansValue(element) |  number:'1.0-0'" matInputCommified>
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>

                            <!-- Interest column -->
                            <ng-container matColumnDef="interest">
                                <mat-header-cell *matHeaderCellDef>
                                    {{'INTEREST_VALUE_COL' | translate}}
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <mat-form-field>
                                        <input matInput readonly [ngStyle]="{'color': 'green'}"
                                            [value]="element.interest | number:'1.0-0'" matInputCommified>
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>


                            <!-- Estimated profit column -->
                            <ng-container matColumnDef="estimated_profit">
                                <mat-header-cell *matHeaderCellDef>
                                    {{'ESTIMATED_PROFIT_VALUE_COL' | translate}}
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <mat-form-field>
                                        <input matInput readonly [ngStyle]="setMyStyles(element)"
                                            [value]="getEstimatedProfit(element) | number:'1.0-0'" matInputCommified>
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>


                            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns"
                                [ngClass]="{ hovered: row.hovered }" (mouseover)="row.hovered = true"
                                (mouseout)="row.hovered = false"></mat-row>
                        </mat-table>
                        <!-- <div *ngIf="totalItems==0 | async" class="no-records">
                            No records found
                        </div> -->
                        <mat-paginator [length]="totalItems" [pageSize]="pageSize"
                            (page)="pageEvent = onTableChange($event)" [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-toolbar style="background-color:transparent">

                            <mat-toolbar-row>
                                <span>Ended loans</span>
                                <span class="example-spacer"></span>
                            </mat-toolbar-row>
                        </mat-toolbar>
                        <mat-table #table2 [dataSource]="doneLoansList">
                            <ng-container matColumnDef="stock">
                                <mat-header-cell *matHeaderCellDef>{{'STOCK_COL' | translate}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    {{ element.code }}
                                </mat-cell>
                            </ng-container>

                            <!-- Quantity Column -->
                            <ng-container matColumnDef="quantity">
                                <mat-header-cell *matHeaderCellDef> {{'QUANTITY_COL' | translate}} </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    {{ element.quantity }}
                                </mat-cell>
                            </ng-container>

                            <!-- Price Column -->
                            <ng-container matColumnDef="buy_price">
                                <mat-header-cell *matHeaderCellDef> {{'BUY_PRICE' | translate}} </mat-header-cell>

                                <mat-cell *matCellDef="let element">
                                    {{ element.buy_price }}
                                </mat-cell>
                            </ng-container>

                            <!-- Price Column -->
                            <ng-container matColumnDef="sell_price">
                                <mat-header-cell *matHeaderCellDef> {{'SELL_PRICE' | translate}} </mat-header-cell>

                                <mat-cell *matCellDef="let element">
                                    {{ element.sell_price }}
                                </mat-cell>
                            </ng-container>

                            <!-- Transaction value Column -->
                            <ng-container matColumnDef="min_required_reserve_rate">
                                <mat-header-cell *matHeaderCellDef>
                                    {{'MIN_REQUIRED_RESERVE_COL' | translate}}
                                </mat-header-cell>

                                <mat-cell *matCellDef="let element">
                                    <mat-form-field>
                                        <input matInput readonly [value]='getMinRequiredReserve(element)'
                                            matInputCommified>
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>

                            <!-- Start date Column -->
                            <ng-container matColumnDef="start_date">
                                <mat-header-cell *matHeaderCellDef>
                                    {{'START_DATE_COL' | translate}}
                                </mat-header-cell>

                                <mat-cell *matCellDef="let element">
                                    {{ element.start_date  | date: 'dd-MM, yyyy'}}
                                </mat-cell>
                            </ng-container>

                            <!-- End date Column -->
                            <ng-container matColumnDef="end_date">
                                <mat-header-cell *matHeaderCellDef>
                                    {{'END_DATE_COL' | translate}}
                                </mat-header-cell>

                                <mat-cell *matCellDef="let element">
                                    {{ element.end_date  | date: 'dd-MM, yyyy'}}
                                </mat-cell>
                            </ng-container>

                            <!-- Loans value column -->
                            <ng-container matColumnDef="loans_value">
                                <mat-header-cell *matHeaderCellDef>
                                    {{'LOAN_COL' | translate}}
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <mat-form-field>
                                        <input matInput readonly
                                            [value]="getLoansValueOfDoneLoans(element) | number:'1.0-0'"
                                            matInputCommified>
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>


                            <!-- Profit column -->
                            <ng-container matColumnDef="not_settlement_interest">
                                <mat-header-cell *matHeaderCellDef>
                                    {{'NOT_SETTLEMENT_INTEREST_VALUE_COL' | translate}}
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <mat-form-field>
                                        <input matInput readonly [ngStyle]="{'color': 'green'}"
                                            [value]="element.interest | number:'1.0-0'" matInputCommified>
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>


                            <mat-header-row *matHeaderRowDef="displayedColumnsOfEndedLoans; sticky: true">
                            </mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumnsOfEndedLoans"
                                [ngClass]="{ hovered: row.hovered }" (mouseover)="row.hovered = true"
                                (mouseout)="row.hovered = false"></mat-row>
                        </mat-table>
                        <!-- <div *ngIf="doneLoansList.length==0 | async" class="no-records">
                            No records found
                        </div> -->
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>