.mat-row.hovered {
  background: #eee;
}
.ng-container:hover {
  background: #777;
}

.mat-form-field-class {
  font-size: 14px;
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

@-webkit-keyframes invalid {
  from {
    background-color: red;
  }
  to {
    background-color: inherit;
  }
}
@-moz-keyframes invalid {
  from {
    background-color: red;
  }
  to {
    background-color: inherit;
  }
}
@-o-keyframes invalid {
  from {
    background-color: red;
  }
  to {
    background-color: inherit;
  }
}
@keyframes invalid {
  from {
    background-color: red;
  }
  to {
    background-color: inherit;
  }
}
.invalid {
  -webkit-animation: invalid 1s infinite; /* Safari 4+ */
  -moz-animation: invalid 1s infinite; /* Fx 5+ */
  -o-animation: invalid 1s infinite; /* Opera 12+ */
  animation: invalid 1s infinite; /* IE 10+ */
}

.alert {
  background-color: red;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  // font-size: 20px;
  // padding: 10px 10px;
  text-align: center;
  text-decoration: none;
}
@keyframes glowing {
  0% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
  50% {
    background-color: #49e819;
    box-shadow: 0 0 20px #49e819;
  }
  100% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
}
.alert {
  animation: glowing 1300ms infinite;
}
