<!-- <div class="border border-primary"> -->


<mat-card>
    <mat-card-content>
        <div class="container">
            <form [formGroup]="generalForm">
                <div class="row">
                    <div class="col">
                        <mat-form-field [floatLabel]='always'>
                            <mat-label>{{ 'INTEREST_TO_DATE' | translate }}</mat-label>
                            <input matInput required [ngModel]='defaultDate' [matDatepicker]="interestDatePicker"
                                [max]="maxValidInterestDate" formControlName="interestDate"
                                (dateChange)="onInterestDateChange()">
                            <mat-datepicker-toggle matSuffix [for]="interestDatePicker">
                            </mat-datepicker-toggle>
                            <mat-datepicker #interestDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <div>
                            {{'CURRENT_ALL_USERS_INTEREST_VALUE_FOR_ONGOING_LOANS_TXT' | translate}}
                        </div>
                        <mat-chip-list>
                            <mat-chip matInputCommified>
                                <input matInput readonly matInputCommified
                                    matTooltip="{{'CURRENT_ALL_USERS_INTEREST_VALUE_FOR_ONGOING_LOANS_TXT_TOOLTIP' | translate}}"
                                    [value]="currentInterestValueForOnGoingLoans | currency: 'VND': 'symbol': '4.0-0'">
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                    <div class="col">
                        <div>
                            {{'CURRENT_ALL_USERS_INTEREST_VALUE_FOR_DONE_LOANS_TXT' | translate}}
                        </div>
                        <mat-chip-list>
                            <mat-chip matInputCommified>
                                <input matInput readonly matInputCommified
                                    matTooltip="{{'CURRENT_ALL_USERS_INTEREST_VALUE_FOR_DONE_LOANS_TXT_TOOLTIP' | translate}}"
                                    [value]="currentInterestValueForDoneLoans | currency: 'VND': 'symbol': '4.0-0'">
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col">
                    <button mat-stroked-button color="accent" (click)='onClickAnalyzeBtn()'
                        matTooltip="{{'ANALYZE_BTN_TOOLTIP' | translate}}">
                        <mat-icon>hourglass_empty</mat-icon>{{'ANALYZE_BTN' | translate}}
                    </button>
                </div>

            </div>
            <div class="row">
                <div class="col" style="padding-top: 20px;">
                    <span>{{'ANALYZED_TIME_COL' | translate}}</span>
                    <span style="padding-left: 20px; font-weight:bold;">{{latestAnalyzedTime}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-toolbar style="background-color:transparent">
                        <mat-toolbar-row>
                            <span>{{'CURRENT_ALERTS_LBL' | translate}}</span>
                            <span class="example-spacer"></span>
                            <mat-radio-group [(ngModel)]="filteredTypeOfUser" (change)="radioFilterChange()">
                                <mat-radio-button value="NONE">{{'ALL_USERS_LBL' | translate}}</mat-radio-button>
                                <mat-radio-button value="ALERTED">{{'ALERTED_USERS_LBL' | translate}}</mat-radio-button>
                                <mat-radio-button value="NOT_ALERTED">{{'SAFE_USERS_LBL' | translate}}
                                </mat-radio-button>
                            </mat-radio-group>
                            <button mat-icon-button color="primary" (click)="onRefreshAlertTable()">
                                <mat-icon class="icon" matTooltip="Refresh data">refresh</mat-icon>
                            </button>
                        </mat-toolbar-row>
                    </mat-toolbar>
                    <mat-table #table [dataSource]="alertList">
                        <ng-container matColumnDef="user_id">
                            <mat-header-cell *matHeaderCellDef>{{'USER_COL' | translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{ element.user.first_name}} {{element.user.last_name}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="analysed_time">
                            <mat-header-cell *matHeaderCellDef>{{'ANALYZED_TIME_COL' | translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{ element.analysed_time | date: 'MMM dd, yyyy HH:mm:ss'}}
                            </mat-cell>
                        </ng-container>

                        <!-- Effective Date Column -->
                        <ng-container matColumnDef="original_escrow_rate">
                            <mat-header-cell *matHeaderCellDef>{{'MIN_ESCROW_TO_FORCESELL_COL' | translate}}
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{ element.original_escrow_rate }} %
                            </mat-cell>
                        </ng-container>

                        <!-- Interest Column -->
                        <ng-container matColumnDef="current_escrow_rate">
                            <mat-header-cell *matHeaderCellDef>{{'CURRENT_ESCROW_COL' | translate}}
                            </mat-header-cell>

                            <mat-cell *matCellDef="let element">
                                {{ element.current_escrow_rate }} %
                                <mat-icon *ngIf="element.current_escrow_rate < element.original_escrow_rate"
                                    style='color: red;' class="invalid">warning
                                </mat-icon>
                            </mat-cell>
                        </ng-container>

                        <!-- Interest Column -->
                        <ng-container matColumnDef="profit">
                            <mat-header-cell *matHeaderCellDef>{{'ESTIMATED_PROFIT_VALUE_COL' | translate}}
                            </mat-header-cell>

                            <mat-cell *matCellDef="let element">
                                <mat-form-field>
                                    <input matInput readonly [ngStyle]="{'color': element.profit > 0 ? 'green' : 'red'}"
                                        [value]="element.profit | number:'1.0-0'" matInputCommified>
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>

                        <!-- Interest Column -->
                        <ng-container matColumnDef="net_assets">
                            <mat-header-cell *matHeaderCellDef>{{'NET_ASSETS_COL' | translate}}
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <mat-form-field>
                                    <input matInput readonly [value]="element.net_assets | number:'1.0-0'"
                                        matInputCommified>
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>

                        <!-- Details Column -->
                        <ng-container matColumnDef="details">
                            <mat-header-cell *matHeaderCellDef>{{'DETAILS_COL' | translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <button mat-icon-button color="primary" (click)="redirectToDetails(element)">
                                    <mat-icon class="mat-18" matTooltip="See more on this user">reorder
                                    </mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>
                        
                        <!-- Agreement escrow Column -->
                        <ng-container matColumnDef="agreement_escrow_rate">
                            <mat-header-cell *matHeaderCellDef>{{'AGREEMENT_ESCROW_RATE_COL' | translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.agreement_escrow_rate | number:'1.0-0'}} %
                            </mat-cell>
                        </ng-container>

                        <!-- Details Column -->
                        <ng-container matColumnDef="loan_amount">
                            <mat-header-cell *matHeaderCellDef>{{'TOTAL_LOANS_VALUE_COL' | translate}}
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <mat-form-field>
                                    <input matInput readonly [value]="element.loan_amount | number:'1.0-0'"
                                        matInputCommified>
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>

                        <!-- Details Column -->
                        <ng-container matColumnDef="needed_amount">
                            <mat-header-cell *matHeaderCellDef>{{'NEEDED_VALUE_COL' | translate}}
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <mat-form-field >
                                    <input matInput readonly [value]="getNeededAmount(element) | number:'1.0-0'" matInputCommified>
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{ hovered: row.hovered }"
                            (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
                    </mat-table>
                    <mat-paginator [length]="totalItems" [pageSize]="pageSize"
                        (page)="pageEvent = onTableChange($event)" [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-toolbar style="background-color:transparent">
                        <mat-toolbar-row >
                            <span>{{'CURRENT_STOCKS' | translate}}</span>
                            <span class="example-spacer"></span>
                            <button mat-icon-button color="primary" (click)="onRefreshStocksLoanTable()">
                                <mat-icon class="icon" matTooltip="Refresh data">refresh</mat-icon>
                            </button>
                        </mat-toolbar-row>
                    </mat-toolbar>
                    <mat-table #table [dataSource]="stocksLoanList">
                        <ng-container matColumnDef="stock">
                            <mat-header-cell *matHeaderCellDef>{{'STOCK_COL' | translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{ element.code}}
                            </mat-cell>
                        </ng-container>
            
                        <ng-container matColumnDef="total_quantity">
                            <mat-header-cell *matHeaderCellDef>{{'TOTAL_QUANTITY_STOCK_COL' | translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <input matInput readonly [value]="element.total_amount | number:'1.0-0'" matInputCommified>
                            </mat-cell>
                        </ng-container>
            
                        <!-- total Stock value Column -->
                        <ng-container matColumnDef="total_stock_value">
                            <mat-header-cell *matHeaderCellDef>{{'TOTAL_STOCK_VALUE_COL' | translate}}
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <input matInput readonly [value]="getTotalLoansOfAStock(element) | currency: 'VND': 'symbol':'1.0-0'" matInputCommified>
                            </mat-cell>
                        </ng-container>
                      
                        <mat-header-row *matHeaderRowDef="displayedStocksTableColumns; sticky: true"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedStocksTableColumns"[ngClass]="{ hovered: row.hovered }"
                            (mouseover)="row.hovered = true" (mouseout)="row.hovered = false" ></mat-row>
                    </mat-table>
                    <mat-paginator [length]="totalStocksTableItems" [pageSize]="stockTablePageSize" (page)="pageStockTableEvent = onStocksTableChange($event)"
                        [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>