﻿<div class="container" style="margin-top: 69px;">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <h2 *ngIf="isAdminUI == true" class="colorreset">{{'REGISTER_FORM_FOR_ADMIN_USERS_TIT' | translate}}</h2>
            <h2 *ngIf="isAdminUI == false" class="colorreset">{{'REGISTER_FORM_FOR_COMMON_USERS_TIT' | translate}}</h2>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <mat-form-field [floatLabel]='always' class="full-width">
                                <input matInput placeholder="{{'FIRST_NAME_LBL' | translate}}:" required formControlName="firstName">
                            </mat-form-field>
                        </div>
                        <div class='col'>
                            <mat-form-field [floatLabel]='always' class="full-width">
                                <input matInput placeholder="{{'LAST_NAME_LBL' | translate}}:" required formControlName="lastName">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <mat-form-field [floatLabel]='always' class="full-width">
                                <input matInput placeholder="{{'PHONE_NUMBER_LBL' | translate}}:" required formControlName="mobile">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field [floatLabel]='always' class="full-width">
                                <input matInput placeholder="{{'EMAIL_LBL' | translate}}" required formControlName="email">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <mat-label>{{'ENTER_YOUR_PASSWORD_LBL' | translate}}</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                <mat-icon matSuffix (click)="hide = !hide">
                                    {{hide ? 'visibility_off' : 'visibility'}}
                                </mat-icon>
                                <mat-error *ngIf="submitted && f.password.errors && f.password.errors.required">
                                    {{'PASSWORD_IS_REQUIRED_LBL' | translate}}
                                </mat-error>
                                <mat-error *ngIf="submitted && f.password.errors && f.password.errors.minlength">
                                    {{'PASSWORD_MUST_BE_AT_LEAST_6_CHARACTERS_LBL' | translate}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="full-width">
                                <mat-label>{{'RE_ENTER_YOUR_PASSWORD_LBL' | translate}}</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
                                <mat-icon matSuffix (click)="hide = !hide">
                                    {{hide ? 'visibility_off' : 'visibility'}}
                                </mat-icon>
                                <mat-error
                                    *ngIf="submitted && f.confirmPassword.errors && f.confirmPassword.errors.required">
                                    {{'CONFIRM_PASSWORD_IS_REQUIRED_LBL' | translate}}
                                </mat-error>
                                <mat-error
                                    *ngIf="submitted && f.confirmPassword.errors && f.confirmPassword.errors.mustMatch">
                                   {{'PASSWORD_MUST_MATCH_LBL' | translate}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <mat-form-field [floatLabel]='always' class="full-width">
                                <input matInput placeholder="{{'PERSONAL_IDENTITY_NUMBER_LBL' | translate}}:" required formControlName="PIN">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field [floatLabel]='always' class="full-width">
                                <mat-label>{{'ISSUE_DATE_LBL' | translate}}</mat-label>
                                <input matInput required readonly [matDatepicker]="PINIssuedDatePicker"
                                    formControlName="PIN_issue_date">
                                <mat-datepicker-toggle matSuffix [for]="PINIssuedDatePicker">
                                </mat-datepicker-toggle>
                                <mat-datepicker #PINIssuedDatePicker></mat-datepicker>
                            </mat-form-field>

                        </div>
                        <div class="col">
                            <mat-form-field [floatLabel]='always' class="full-width">
                                <input matInput placeholder="{{'ISSUE_LOCATION_LBL' | translate}}" required
                                    formControlName="PIN_issue_location">
                            </mat-form-field>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <mat-form-field [floatLabel]='always' class="full-width">
                        <input matInput placeholder="{{'ADDRESS_LBL' | translate}}" required formControlName="address">
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        {{'REGISTER_LBL' | translate}}
                    </button>
                    <a (click)="onClickCancel()" class="btn btn-link">{{'CANCEL_LBL' | translate}}</a>
                </div>
            </form>
        </div>
    </div>
</div>