<div [ngClass]="getClassName()" [ngStyle]="getGlobalStyle()" *ngIf='items.length !== 0'
    [dir]="isRtlLayout() ? 'rtl' : 'ltr'">
    <mat-list>
        <ng-list-item *ngFor="let node of items | keyvalue: multilevelMenuService.kvDummyComparerFn" [linkText]='linkText'
            [nodeConfiguration]='nodeConfig' [node]='node.value' [level]="1" [submenuLevel]="node.key"
            [selectedNode]='currentNode' (selectedItem)="selectedListItem($event)
    ">
        </ng-list-item>
    </mat-list>
</div>