<!-- <div class="border border-primary"> -->

<form [formGroup]="loansForm" style="padding-left:5px; padding-top: 5px; padding-right: 5px;">
    <div class="container">
        <div *ngIf="currentUser.user._role_id === role.MG_USER" class="row">
            <div class="col" style="padding-bottom: 30px;">
                <div *ngIf="currentUnderControlUsers.length === 0" class="no-records">
                    {{'NO_CUSTOMER_TO_MANAGE_LBL' | translate}}
                </div>
                <mat-card *ngIf="currentUnderControlUsers.length > 0">
                    <mat-card-content>
                        <div class="scroll-container border scrollbar-deep-purple bordered-deep-purple thin">
                            <mat-card matRipple class="list-published-ic-card card-element-boundary clickable"
                                (click)="onCardClick(element)"
                                *ngFor="let element of currentUnderControlUsers; let index=index; let odd=odd; let even=even;">
                                <mat-card-header>
                                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                                    <!-- <mat-card-title>IC code: {{element.name}}</mat-card-title> -->
                                    <mat-card-subtitle>{{element.email}}

                                    </mat-card-subtitle>
                                    <mat-icon *ngIf="element.current_escrow_rate  > element.original_escrow_rate"
                                        style="color: green;">check_circle_outline</mat-icon>
                                    <mat-icon *ngIf="element.original_escrow_rate  > element.current_escrow_rate"
                                        style="color: red;">
                                        <mat-icon>warning</mat-icon>
                                    </mat-icon>
                                </mat-card-header>
                                <!-- <mat-card-content>
                                            <p>
                                            </p>
                                        </mat-card-content> -->
                                <mat-card-footer>
                                    <mat-progress-bar mode="determinate" [value]="50"></mat-progress-bar>
                                </mat-card-footer>
                            </mat-card>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row" style="padding-bottom: 20px; font-weight: bold;">
            <div class="col">
                Account: {{targetUser.email}} - {{targetUser.first_name}} {{targetUser.last_name}}
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-sm-5 offset-sm-0">
                        <mat-form-field [floatLabel]="always" class="customer-form-field-class">
                            <input type="text" matInput placeholder="{{ 'CUSTOMER_LBL' | translate }}" aria-label="Customer"
                                [matAutocomplete]="auto" formControlName="customer"
                                (input)="onTyping($event.target.value)" />
                            <mat-autocomplete #auto="matAutocomplete"
                                (optionSelected)="onChangingCustomer($event.option.value)"
                                [displayWith]="displayProperty">
                                <mat-option *ngFor="let customerItem of listOfCustomers" [value]="customerItem">
                                    <span>{{ customerItem.name }}</span> |
                                    <small>{{ customerItem.mobile }} | {{ customerItem.email }}</small>
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div> -->
            <div class="col">
                <mat-form-field [floatLabel]='always'>
                    <mat-label>{{ 'INTEREST_TO_DATE' | translate }}</mat-label>
                    <input matInput required [ngModel]='defaultDate' [matDatepicker]="interestDatePicker"
                        [max]="maxValidInterestDate" formControlName="interestDate"
                        (dateChange)="onInterestDateChange()">
                    <mat-datepicker-toggle matSuffix [for]="interestDatePicker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #interestDatePicker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    {{'VALID_CASH_FOR_WITHDRAW_OR_BUYING_TXT' | translate}}
                </div>
                <mat-chip-list>
                    <mat-chip matInputCommified>
                        <input matInput readonly matInputCommified
                            matTooltip="{{'VALID_CASH_FOR_WITHDRAW_OR_BUYING_TOOLTIP' | translate}}"
                            [value]="currentFinanceInfo.validCashForBuying | currency: 'VND': 'symbol': '4.2-2'">
                    </mat-chip>
                </mat-chip-list>
            </div>
            <div class="col">
                <div>
                    {{'CURRENT_INTEREST_VALUE_FOR_ONGOING_LOANS_TXT' | translate}}
                </div>
                <mat-chip-list>
                    <mat-chip matInputCommified>
                        <input matInput readonly matInputCommified
                            matTooltip="{{'CURRENT_INTEREST_VALUE_FOR_ONGOING_LOANS_TXT_TOOLTIP' | translate}}"
                            [value]="currentInterestValueForOnGoingLoans | currency: 'VND': 'symbol': '4.2-2'">
                    </mat-chip>
                </mat-chip-list>
            </div>
            <div class="col">
                <div>
                    {{'CURRENT_INTEREST_VALUE_FOR_DONE_LOANS_TXT' | translate}}
                </div>
                <mat-chip-list>
                    <mat-chip matInputCommified>
                        <input matInput readonly matInputCommified
                            matTooltip="{{'CURRENT_INTEREST_VALUE_FOR_DONE_LOANS_TXT_TOOLTIP' | translate}}"
                            [value]="currentInterestValueForDoneLoans | currency: 'VND': 'symbol': '4.2-2'">
                    </mat-chip>
                </mat-chip-list>
            </div>
            <div *ngIf="currentUser.user._role_id === role.TRADING_USER" class="col">
                <button mat-stroked-button color="accent" (click)='onClickToWatchReports()'
                    matTooltip="{{'WATCH_BTN_TOOLTIP' | translate}}">
                    <mat-icon>panorama_fish_eye</mat-icon>{{'WATCH_BTN' | translate}}
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    {{'CURRENT_ESCROW_COL' | translate}} %
                </div>
                <mat-chip-list>
                    <mat-chip matInputCommified>
                        <!-- [value]="currentInterestValueForOnGoingLoans | currency: 'VND': 'symbol': '4.2-2'" -->
                        <input matInput readonly matInputCommified matTooltip="{{'CURRENT_ESCROW_COL' | translate}} %"
                            [value]="currentEscrowRate | number : '2.2-2'">
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-toolbar style="background-color:transparent">

                    <mat-toolbar-row>
                        <span>On going loans</span>
                        <span class="example-spacer"></span>
                    </mat-toolbar-row>
                </mat-toolbar>
                <mat-table #table1 [dataSource]="onGoingLoansList">
                    <ng-container matColumnDef="stock">
                        <mat-header-cell *matHeaderCellDef>{{'STOCK_COL' | translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{ element.stock.code }}
                        </mat-cell>
                    </ng-container>

                    <!-- Quantity Column -->
                    <ng-container matColumnDef="quantity">
                        <mat-header-cell *matHeaderCellDef> {{'QUANTITY_COL' | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{ element.quantity }}
                        </mat-cell>
                    </ng-container>

                    <!-- Price Column -->
                    <ng-container matColumnDef="price">
                        <mat-header-cell *matHeaderCellDef> {{'PRICE_COL' | translate}} </mat-header-cell>

                        <mat-cell *matCellDef="let element">
                            {{ element.price }}
                        </mat-cell>
                    </ng-container>

                    <!-- Current price Column -->
                    <ng-container matColumnDef="current_price">
                        <mat-header-cell *matHeaderCellDef> {{'CURRENT_PRICE_COL' | translate}}
                        </mat-header-cell>

                        <mat-cell *matCellDef="let element">
                            <mat-form-field>
                                <input matInput readonly [value]='getCurrentPrice(element)' matInputCommified>
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>

                    <!-- Transaction value Column -->
                    <ng-container matColumnDef="min_required_reserve_rate">
                        <mat-header-cell *matHeaderCellDef>
                            {{'MIN_REQUIRED_RESERVE_COL' | translate}}
                        </mat-header-cell>

                        <mat-cell *matCellDef="let element">
                            <mat-form-field>
                                <input matInput readonly [value]="getMinRequiredReserve(element) | number:'1.0-0'"
                                    matInputCommified>
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>

                    <!-- Start date Column -->
                    <ng-container matColumnDef="start_date">
                        <mat-header-cell *matHeaderCellDef>
                            {{'START_DATE_COL' | translate}}
                        </mat-header-cell>

                        <mat-cell *matCellDef="let element">
                            {{ element.start_date | date: 'dd-MM, yyyy'}}
                        </mat-cell>
                    </ng-container>

                    <!-- Loans value column -->
                    <ng-container matColumnDef="loans_value">
                        <mat-header-cell *matHeaderCellDef>
                            {{'LOAN_COL' | translate}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-form-field>
                                <input matInput readonly [value]="getLoansValue(element) | number:'1.0-0'"
                                    matInputCommified>
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>

                    <!-- Interest column -->
                    <ng-container matColumnDef="interest">
                        <mat-header-cell *matHeaderCellDef>
                            {{'INTEREST_VALUE_COL' | translate}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-form-field>
                                <input matInput readonly [ngStyle]="{'color': 'green'}" [value]='element.interest'
                                    matInputCommified>
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>


                    <!-- Estimated profit column -->
                    <ng-container matColumnDef="estimated_profit">
                        <mat-header-cell *matHeaderCellDef>
                            {{'ESTIMATED_PROFIT_VALUE_COL' | translate}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-form-field>
                                <input matInput readonly [ngStyle]="setMyStyles(element)" [value]="getEstimatedProfit(element) | number:'1.0-0'"
                                    matInputCommified>
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>


                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{ hovered: row.hovered }"
                        (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
                </mat-table>
                <mat-paginator [length]="totalItems" [pageSize]="pageSize" (page)="pageEvent = onTableChange($event)"
                    [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-toolbar style="background-color:transparent">

                    <mat-toolbar-row>
                        <span>Ended loans</span>
                        <span class="example-spacer"></span>
                    </mat-toolbar-row>
                </mat-toolbar>
                <mat-table #table2 [dataSource]="doneLoansList">
                    <ng-container matColumnDef="stock">
                        <mat-header-cell *matHeaderCellDef>{{'STOCK_COL' | translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{ element.code }}
                        </mat-cell>
                    </ng-container>

                    <!-- Quantity Column -->
                    <ng-container matColumnDef="quantity">
                        <mat-header-cell *matHeaderCellDef> {{'QUANTITY_COL' | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{ element.quantity }}
                        </mat-cell>
                    </ng-container>

                    <!-- Price Column -->
                    <ng-container matColumnDef="buy_price">
                        <mat-header-cell *matHeaderCellDef> {{'BUY_PRICE' | translate}} </mat-header-cell>

                        <mat-cell *matCellDef="let element">
                            {{ element.buy_price }}
                        </mat-cell>
                    </ng-container>

                    <!-- Price Column -->
                    <ng-container matColumnDef="sell_price">
                        <mat-header-cell *matHeaderCellDef> {{'SELL_PRICE' | translate}} </mat-header-cell>

                        <mat-cell *matCellDef="let element">
                            {{ element.sell_price }}
                        </mat-cell>
                    </ng-container>

                    <!-- Transaction value Column -->
                    <ng-container matColumnDef="min_required_reserve_rate">
                        <mat-header-cell *matHeaderCellDef>
                            {{'MIN_REQUIRED_RESERVE_COL' | translate}}
                        </mat-header-cell>

                        <mat-cell *matCellDef="let element">
                            <mat-form-field>
                                <input matInput readonly [value]="getMinRequiredReserve(element) | number:'1.0-0'" matInputCommified>
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>

                    <!-- Start date Column -->
                    <ng-container matColumnDef="start_date">
                        <mat-header-cell *matHeaderCellDef>
                            {{'START_DATE_COL' | translate}}
                        </mat-header-cell>

                        <mat-cell *matCellDef="let element">
                            {{ element.start_date  | date: 'dd-MM, yyyy'}}
                        </mat-cell>
                    </ng-container>

                    <!-- End date Column -->
                    <ng-container matColumnDef="end_date">
                        <mat-header-cell *matHeaderCellDef>
                            {{'END_DATE_COL' | translate}}
                        </mat-header-cell>

                        <mat-cell *matCellDef="let element">
                            {{ element.end_date  | date: 'dd-MM, yyyy'}}
                        </mat-cell>
                    </ng-container>

                    <!-- Loans value column -->
                    <ng-container matColumnDef="loans_value">
                        <mat-header-cell *matHeaderCellDef>
                            {{'LOAN_COL' | translate}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-form-field>
                                <input matInput readonly [value]="getLoansValueOfDoneLoans(element) | number:'1.0-0'" matInputCommified>
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>


                    <!-- Profit column -->
                    <ng-container matColumnDef="not_settlement_interest">
                        <mat-header-cell *matHeaderCellDef>
                            {{'NOT_SETTLEMENT_INTEREST_VALUE_COL' | translate}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-form-field>
                                <input matInput readonly [ngStyle]="{'color': 'green'}" [value]='element.interest'
                                    matInputCommified>
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>


                    <mat-header-row *matHeaderRowDef="displayedColumnsOfEndedLoans; sticky: true">
                    </mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumnsOfEndedLoans"
                        [ngClass]="{ hovered: row.hovered }" (mouseover)="row.hovered = true"
                        (mouseout)="row.hovered = false"></mat-row>
                </mat-table>
            </div>
        </div>
    </div>
</form>