@import '~@angular/material/theming';


.no-records {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.customer-form-field-class {
  width: 100%;
}
.mat-row.hovered {
  background: #eee;
}
.ng-container:hover {
  background: #777;
}
.scroll-container {
  // width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.mat-drawer-side {
  border-right: solid 0px rgba(0, 0, 0, 0.12);
}

.scrollbar-deep-purple::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar-deep-purple::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-deep-purple::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #512da8;
}

.bordered-deep-purple::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border: 1px solid #512da8;
}

.bordered-deep-purple::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none;
}

.thin::-webkit-scrollbar {
  width: 6px;
}

.example-1 {
  position: relative;
  overflow-y: scroll;
  height: 200px;
}

.list-published-ic-card {
  // max-width: 250px;
  // max-height: 200px;
}
.card-element-boundary {
  margin: 10px;
  // width: 250px;
}



.clickable {
  cursor: pointer;
  &:hover {
    @include mat-elevation(8);
  }
}