<!-- <div class="border border-primary"> -->
<mat-card>
    <mat-toolbar style="background-color:transparent">

        <mat-toolbar-row>
            <span>{{'LIST_OF_VALID_ORDERS' | translate}}</span>
            <span class="example-spacer"></span>
            <!-- <input matInput style="width: 500px;" placeholder="{{'CUSTOMER' | translate}}" aria-label="Customer"
                [matAutocomplete]="auto" (input)="onTyping($event.target.value)"> -->
            <mat-icon matPrefix>search</mat-icon>
            <input style="width: 250px;" matInput placeholder="{{'SEARCH_CUSTOMER' | translate}}" aria-label="Customer"
                [matAutocomplete]="auto" (input)="onTyping($event.target.value)">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onChangingCustomer($event.option.value)"
                [displayWith]="displayProperty">
                <mat-option *ngFor="let customer of listOfCustomers" [value]="customer">
                    <!-- <img class="example-option-img" aria-hidden [src]="customer.flag" height="25"> -->
                    <span>{{customer.name}}</span> |
                    <small>{{customer.mobile}} | {{customer.email}}</small>
                </mat-option>
            </mat-autocomplete>

            <mat-paginator [length]="totalItems" [pageSize]="pageSize" (page)="pageEvent = onTableChange($event)"
                [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-card-content>
        <mat-accordion>
            <section matSort class="mat-elevation-z2 mat-header-row">
                <span class="mat-header-cell" mat-sort-header="customerFirstName">{{'CUSTOMER_COL' | translate}}</span>
                <span class="mat-header-cell" mat-sort-header="orderType">{{'ORDER_TYPE_COL' | translate}}</span>
                <!-- <span class="mat-header-cell" mat-sort-header="tradingType">Trading Type</span> -->
                <span class="mat-header-cell" mat-sort-header="stock">{{'STOCK_COL' | translate}}</span>
                <span class="mat-header-cell" mat-sort-header="orderAmount">{{'QUANTITY_COL' | translate}}</span>
                <span class="mat-header-cell" mat-sort-header="orderMinPrice">{{'PRICE_COL' | translate}}</span>
                <span class="mat-header-cell" mat-sort-header="orderEscrow">{{'ESCROW_COL' | translate}}</span>
                <span class="mat-header-cell" mat-sort-header="orderEscrowForcesell">{{'ESCROW_FORCESELL_COL' | translate}}</span>
                <span class="mat-header-cell" mat-sort-header="orderInterest">{{'INTEREST_COL' | translate}}</span>
                <span class="mat-header-cell" mat-sort-header="orderStatus">{{'STATUS_COL' | translate}}</span>
                <span class="mat-header-cell" mat-sort-header="actions">{{'ACTION_COL' | translate}}</span>
            </section>

            <mat-expansion-panel [expanded]="step === i" (opened)="onOpeningAnOrder(i, item)"
                *ngFor="let item of stockOrderLists; let i = index; last as isLast;"
                [hideToggle]="item.status == stockOrderStatus.NEW">
                <mat-expansion-panel-header class="mat-row">
                    <span class="mat-cell">{{item.user?.first_name}}
                        {{item.user?.last_name}}</span>
                    <span class="mat-cell" [ngSwitch]="item.order_type">
                        <span class="mat-cell" *ngSwitchCase="stockOrderType.BUY">
                            {{'BUY_LBL' | translate}}</span>
                        <span class="mat-cell" *ngSwitchCase="stockOrderType.SELL">
                            {{'SELL_LBL' | translate}}</span>
                    </span>
                    <!-- <span
                        class="mat-cell">{{item.trading_type === stockOrderTradingType.LO ? 'LO' : 'UNDEFINED'}}</span> -->
                    <span class="mat-cell">{{item.stock?.code}}</span>
                    <span class="mat-cell">{{item.amount}}</span>
                    <span class="mat-cell">
                        <div class="input-group">
                            <input matInput readonly class="form-control input-sm" matInputCommified
                                [value]='item.min_price'>
                            <input matInput readonly class="form-control input-sm" matInputCommified
                                [value]='item.max_price'>
                        </div>
                    </span>
                    <span class="mat-cell">
                        {{item.stock.escrow_rate}} %
                    </span>
                    <span class="mat-cell">
                        {{item.stock.escrow_rate + item.escrow_rca}} %
                    </span>
                    <span class="mat-cell">
                        {{item.interest_rate || 0}} %
                    </span>
                    <span class="mat-cell" [ngSwitch]="item.status">
                        <mat-chip-list>
                            <mat-chip *ngSwitchCase="stockOrderStatus.NEW" selected color="primary">
                                {{stockOrderStatusString[item.status]}}</mat-chip>
                            <mat-chip *ngSwitchCase="stockOrderStatus.IN_PROGRESS" selected color="accent">
                                {{stockOrderStatusString[item.status]}}</mat-chip>
                            <mat-chip *ngSwitchCase="stockOrderStatus.APPROVED" selected color="accent">
                                {{stockOrderStatusString[item.status]}}</mat-chip>
                            <mat-chip *ngSwitchDefault selected color="secondary">
                                {{stockOrderStatusString[item.status]}}</mat-chip>
                        </mat-chip-list>
                    </span>
                    <span class="mat-cell">
                        <button *ngIf='item.status == stockOrderStatus.NEW' mat-icon-button style='color: green;'
                            matTooltip="{{'ACCEPT_TOOLTIP' | translate}}" (click)='onClickAcceptOrder(i, item)'>
                            <mat-icon>approval</mat-icon>
                        </button>
                        <button *ngIf='item.status == stockOrderStatus.NEW' mat-icon-button color="warn"
                            matTooltip="{{'REJECT_TOOLTIP' | translate}}" (click)='onClickRejectOrder(i, item)'>
                            <mat-icon>cancel_presentation</mat-icon>
                        </button>
                    </span>
                </mat-expansion-panel-header>
                <!-- <mat-form-field > -->
                <mat-list *ngIf="item.status != stockOrderStatus.NEW && item.status != stockOrderStatus.REJECTED">
                    <h3 mat-subheader>{{'MATCH_HISTORY_LBL' | translate}}</h3>
                    <div class="table-container mat-elevation-z8">
                        <mat-table #table [dataSource]="item.matchedDetails">

                            <!--1 Matched Time Column -->
                            <ng-container matColumnDef="matchedTime">
                                <mat-header-cell *matHeaderCellDef> {{'MATCH_TIME_COL' | translate}} </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    {{element.match_date_time | date: 'dd-MM, yyyy HH:mm:ss'}} </mat-cell>
                                <mat-footer-cell *matFooterCellDef> {{'TOTAL_LBL' | translate}} </mat-footer-cell>
                            </ng-container>

                            <!--2 Price Column -->
                            <ng-container matColumnDef="matchedPrice">
                                <mat-header-cell *matHeaderCellDef> {{'MATCH_PRICE_COL' | translate}} </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <mat-form-field>
                                        <input matInput disabled readonly [value]='element.match_price'
                                            matInputCommified>
                                    </mat-form-field>
                                </mat-cell>
                                <mat-footer-cell *matFooterCellDef> {{ displayAverageMatchPrice(item) | number:'4.0-0'}}
                                </mat-footer-cell>
                            </ng-container>

                            <!--3 Amount Column -->
                            <ng-container matColumnDef="matchedAmount">
                                <mat-header-cell *matHeaderCellDef> {{'MATCH_QUANTITY_COL' | translate}}
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <mat-form-field>
                                        <input matInput disabled readonly [value]='element.match_amount'
                                            matInputCommified>
                                    </mat-form-field>
                                </mat-cell>
                                <mat-footer-cell *matFooterCellDef> {{displayTotalMatchAmount(item) | number:'1.0-0'}} </mat-footer-cell>
                            </ng-container>

                            <!--4 Escrow Column -->
                            <!-- <ng-container matColumnDef="escrowRate">
                                <mat-header-cell *matHeaderCellDef> Escrow </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.escrowRate}} </mat-cell>
                            </ng-container> -->

                            <!--5 Interest Rate Column -->
                            <!-- <ng-container matColumnDef="interestRate">
                                <mat-header-cell *matHeaderCellDef> Interest Rate </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.interestRate}} </mat-cell>
                            </ng-container> -->

                            <!--6 Transaction Cost Column -->
                            <ng-container matColumnDef="transactionCost">
                                <mat-header-cell *matHeaderCellDef> {{'TRANSACTION_COST_COL' | translate}}
                                    {{item.transaction_cost_rate}} %</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <mat-form-field>
                                        <input matInput readonly disabled matInputCommified
                                            [value]="item.transaction_cost_rate * element.match_price * element.match_amount / 100">
                                    </mat-form-field>
                                </mat-cell>
                                <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                            </ng-container>

                            <!--7 Return Date Column -->
                            <ng-container matColumnDef="propertyReturnDate">
                                <mat-header-cell *matHeaderCellDef> {{'RETURN_DATE_COL' | translate}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    {{element.property_return_date | date: 'dd-MM, yyyy'}} </mat-cell>
                                <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="matchedDetailsTableCols; sticky: true"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: matchedDetailsTableCols;"></mat-row>
                            <mat-footer-row *matFooterRowDef="matchedDetailsTableCols"></mat-footer-row>

                        </mat-table>
                        <!-- <mat-list-item *ngFor="let match of item.matchedDetails; last as last">
                                <mat-icon mat-list-icon>folder</mat-icon>
                                <h4 mat-line>{{match.matchedTime}}</h4>
                            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                        </mat-list-item> -->

                        <div>
                            <mat-toolbar style="background-color:transparent" *ngIf="!item.isOpenMatchResultForm">
                                <mat-toolbar-row>
                                    <button mat-stroked-button
                                        *ngIf='item.status == stockOrderStatus.IN_PROGRESS || item.status == stockOrderStatus.APPROVED '
                                        color="accent" (click)="onOpeningNewMatchedRecordForm(i)"
                                        style="margin-right: 0px;">
                                        <mat-icon>add</mat-icon>
                                        {{'NEW_RECORD_BTN' | translate}}
                                    </button>
                                    <span class="example-spacer"></span>
                                    <button mat-stroked-button *ngIf='item.status == stockOrderStatus.IN_PROGRESS'
                                        color="primary" (click)="onCompletingAStockOrder(i, item)">
                                        <mat-icon>add</mat-icon>
                                        {{'DONE_BTN' | translate}}
                                    </button>
                                </mat-toolbar-row>
                            </mat-toolbar>

                            <!-- <div class="example-spacer"></div> -->

                        </div>
                        <div *ngIf="item.isOpenMatchResultForm" class="container">
                            <div class="row">
                                <div class="col" [ngSwitch]="item.order_type">
                                    <form *ngSwitchCase="stockOrderType.SELL" [formGroup]="newMatchedSELLRecordForm"
                                        (ngSubmit)="onSubmitNewMatchedRecord()"
                                        style='padding-left:5px; padding-top: 5px; padding-right: 5px;'>
                                        <div class="row">
                                            <div class="col">
                                                <mat-form-field [floatLabel]='always'>
                                                    <mat-label>Quantity</mat-label>
                                                    <input matInput required matInputCommified
                                                        formControlName="matchedAmount">
                                                </mat-form-field>
                                            </div>
                                            <div class="col">
                                                <mat-form-field [floatLabel]='always'>
                                                    <mat-label>Price (VND)</mat-label>
                                                    <input matInput required matInputCommified
                                                        formControlName="matchedPrice">
                                                </mat-form-field>
                                            </div>
                                            <div class="col">
                                                <mat-form-field [floatLabel]='always'>
                                                    <mat-label>Match Date</mat-label>
                                                    <input matInput required readonly
                                                        [matDatepicker]="publishedDatePicker" [min]="minPublishedDate"
                                                        [max]="maxPublishedDate" [ngModel]="item.trading_date"
                                                        [matDatepickerFilter]="invalidTopupDate"
                                                        formControlName="matchedDate">
                                                    <mat-datepicker-toggle matSuffix [for]="publishedDatePicker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #publishedDatePicker [startAt]="startDate">
                                                    </mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div class="col">
                                                <mat-form-field class="mat-form-field-fluid">
                                                    <mat-label>Match Time</mat-label>
                                                    <input matInput formControlName="matchedTime"
                                                        [ngxTimepicker]="timePicker" [format]="24"
                                                        [ngModel]='defaultMatchTime' readonly>
                                                    <ngx-material-timepicker #timePicker [appendToInput]="true">
                                                    </ngx-material-timepicker>
                                                    <mat-icon matSuffix>access_time</mat-icon>
                                                </mat-form-field>
                                            </div>
                                            <!-- <div class="col">
                                                <mat-form-field [floatLabel]='always'>
                                                    <mat-label>Escrow Rate (VND)</mat-label>
                                                    <input matInput formControlName="escrowRate" required>
                                                </mat-form-field>
                                            </div> -->
                                            <!-- <div class="col">
                                                <mat-form-field [floatLabel]='always'>
                                                    <mat-label>Period</mat-label>
                                                    <input readonly matInput formControlName="period" [ngModel]='0'
                                                        required>
                                                </mat-form-field>
                                            </div> -->
                                            <div class="col">
                                                <mat-form-field [floatLabel]='always'>
                                                    <mat-label>Property return date</mat-label>
                                                    <input matInput required readonly
                                                        [matDatepicker]="propertyReturnDatePicker"
                                                        formControlName="propertyReturnDate"
                                                        [ngModel]="item.property_return_date">
                                                    <mat-datepicker-toggle matSuffix [for]="propertyReturnDatePicker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #propertyReturnDatePicker>
                                                    </mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div class="col">
                                                <mat-form-field [floatLabel]='always'>
                                                    <mat-label>Transaction cost {{item.transaction_cost_rate}} %
                                                    </mat-label>
                                                    <input matInput formControlName="transactionFee"
                                                        [ngModel]="(!!fS.matchedPrice.value && !!fS.matchedAmount.value) ? item.transaction_cost_rate * fS.matchedPrice.value * fS.matchedAmount.value / 100 : 0">
                                                </mat-form-field>
                                            </div>
                                            <!-- <div class="col">
                                                <mat-form-field [floatLabel]='always'>
                                                    <mat-label>Tax</mat-label>
                                                    <input matInput formControlName="tax" required>
                                                </mat-form-field>
                                            </div> -->

                                        </div>
                                    </form>
                                    <form *ngSwitchCase="stockOrderType.BUY" [formGroup]="newMatchedBUYRecordForm"
                                        (ngSubmit)="onSubmitNewMatchedRecord()"
                                        style='padding-left:5px; padding-top: 5px; padding-right: 5px;'>
                                        <div class="row">
                                            <div class="col">
                                                <mat-form-field [floatLabel]='always'>
                                                    <mat-label>Quantity</mat-label>
                                                    <input matInput required matInputCommified
                                                        formControlName="matchedAmount">
                                                </mat-form-field>
                                            </div>
                                            <div class="col">
                                                <mat-form-field [floatLabel]='always'>
                                                    <mat-label>Price (VND)</mat-label>
                                                    <input matInput required matInputCommified
                                                        formControlName="matchedPrice">
                                                </mat-form-field>
                                            </div>
                                            <div class="col">
                                                <mat-form-field [floatLabel]='always'>
                                                    <mat-label>Match Date</mat-label>
                                                    <input matInput required readonly
                                                        [matDatepicker]="publishedDatePicker" [min]="minPublishedDate"
                                                        [max]="maxPublishedDate" [ngModel]="item.trading_date"
                                                        [matDatepickerFilter]="invalidTopupDate"
                                                        formControlName="matchedDate">
                                                    <mat-datepicker-toggle matSuffix [for]="publishedDatePicker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #publishedDatePicker [startAt]="startDate">
                                                    </mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div class="col">
                                                <mat-form-field class="mat-form-field-fluid">
                                                    <mat-label>Match Time</mat-label>
                                                    <input matInput formControlName="matchedTime"
                                                        [ngxTimepicker]="timePicker" [format]="24"
                                                        [ngModel]='defaultMatchTime' readonly>
                                                    <ngx-material-timepicker #timePicker [appendToInput]="true">
                                                    </ngx-material-timepicker>
                                                    <mat-icon matSuffix>access_time</mat-icon>
                                                </mat-form-field>
                                            </div>
                                            <!-- <div class="col">
                                                <mat-form-field [floatLabel]='always'>
                                                    <mat-label>Escrow Rate (VND)</mat-label>
                                                    <input matInput formControlName="escrowRate" required>
                                                </mat-form-field>
                                            </div> -->
                                            <!-- <div class="col">
                                                <mat-form-field [floatLabel]='always'>
                                                    <mat-label>Period</mat-label>
                                                    <input readonly matInput formControlName="period" [ngModel]='0'
                                                        required>
                                                </mat-form-field>
                                            </div> -->
                                            <div class="col">
                                                <mat-form-field [floatLabel]='always'>
                                                    <mat-label>Property return date</mat-label>
                                                    <input matInput required readonly
                                                        [matDatepicker]="propertyReturnDatePicker"
                                                        formControlName="propertyReturnDate"
                                                        [ngModel]="item.property_return_date">
                                                    <mat-datepicker-toggle matSuffix [for]="propertyReturnDatePicker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #propertyReturnDatePicker>
                                                    </mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div class="col">
                                                <mat-form-field [floatLabel]='always'>
                                                    <mat-label>Transaction cost {{item.transaction_cost_rate}} %
                                                    </mat-label>
                                                    <input matInput formControlName="transactionFee"
                                                        [ngModel]="(!!fB.matchedPrice.value && !!fB.matchedAmount.value) ? item.transaction_cost_rate * fB.matchedPrice.value * fB.matchedAmount.value / 100 : 0">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button mat-stroked-button color="accent" style="float: right;"
                                        (click)='onClickSaveMatchResultForm(i, item)'>
                                        <mat-icon>save</mat-icon>Save
                                    </button>
                                    <button mat-stroked-button color="accent" style="float: right;"
                                        (click)='onClickCancelMatchResultForm(i)'>
                                        <mat-icon>cancel</mat-icon>Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-list>
                <!-- </mat-form-field> -->
                <mat-action-row>
                    <button *ngIf="i > 0" mat-button color="warn" (click)="prevStep()">
                        <mat-icon>keyboard_arrow_up</mat-icon>Previous
                    </button>
                    <button *ngIf="!isLast" mat-button color="primary" (click)="nextStep()">
                        <mat-icon>keyboard_arrow_down</mat-icon>Next
                    </button>
                    <button *ngIf="isLast" mat-button color="primary" (click)="nextStep()">End</button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>
<!-- </div> -->