<mat-card>
    <mat-card-subtitle>{{'STATEMENTS_TXT' | translate}}</mat-card-subtitle>
    <mat-card-content>
        <form [formGroup]="financialStatementsForm" style='padding-left:5px; padding-top: 5px; padding-right: 5px;'>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <mat-form-field [floatLabel]='always'>
                            <mat-label>{{'FROM_TXT' | translate}}: </mat-label>
                            <input matInput required readonly [matDatepicker]="fromDatePicker" [min]="minPublishedDate"
                                [max]="maxPublishedDate" [matDatepickerFilter]="invalidPublishedDate"
                                formControlName="fromDate">
                            <mat-datepicker-toggle matSuffix [for]="fromDatePicker">
                            </mat-datepicker-toggle>
                            <mat-datepicker #fromDatePicker [startAt]="startDate"></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field [floatLabel]='always'>
                            <mat-label>{{'TO_TXT' |  translate}}: </mat-label>
                            <input matInput required readonly [matDatepicker]="toDatePicker" [min]="minPublishedDate"
                                [max]="maxPublishedDate" [matDatepickerFilter]="invalidPublishedDate"
                                formControlName="toDate">
                            <mat-datepicker-toggle matSuffix [for]="toDatePicker">
                            </mat-datepicker-toggle>
                            <mat-datepicker #toDatePicker [startAt]="startDate"></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <button mat-stroked-button color="accent" (click)="onSubmit()">
                            {{'WATCH_BTN' | translate}}
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-table #table [dataSource]="financialStatements">
                            <!-- Item Column -->
                            <ng-container matColumnDef="RecordDay">
                                <mat-header-cell *matHeaderCellDef> {{'RECORD_DATE_COL' | translate}} </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.date | date: 'dd-MM, yyyy HH:mm:ss'}}
                                </mat-cell>
                                <mat-footer-cell *matFooterCellDef> {{'TOTAL_TXT' | translate}} </mat-footer-cell>
                            </ng-container>

                            <ng-container matColumnDef="StatementDay">
                                <mat-header-cell *matHeaderCellDef>{{'STATEMENT_DATE_COL' |  translate}}
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    {{element.created_at | date: 'dd-MM, yyyy HH:mm:ss'}}
                                </mat-cell>
                                <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                            </ng-container>

                            <!-- Topup Column -->
                            <ng-container matColumnDef="Topup">
                                <!-- {{claimMoney | currency: 'VND': 'symbol': '4.2-2'}} -->
                                <mat-header-cell *matHeaderCellDef> {{'TOP_UP_COL' |  translate}} </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    {{element.type===1 ? (element.amount | currency: 'VND': 'symbol': '4.0-0') : '_'}}
                                </mat-cell>
                                <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                            </ng-container>

                            <!-- Withdraw Column -->
                            <ng-container matColumnDef="Withdraw">
                                <mat-header-cell *matHeaderCellDef> {{'WITHDRAW_COL' | translate}} </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    {{element.type===2 ? (element.amount | currency: 'VND': 'symbol': '4.0-0') : '_'}}
                                </mat-cell>
                                <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                            </ng-container>

                            <!-- Note Column -->
                            <ng-container matColumnDef="Note">
                                <mat-header-cell *matHeaderCellDef> {{'NOTE_COL' | translate}} </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    {{element.note}}
                                </mat-cell>
                                <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                            </ng-container>

                            <!-- Balance Column -->
                            <ng-container matColumnDef="Balance">
                                <mat-header-cell *matHeaderCellDef> {{'BALANCE_COL' | translate}} </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    {{element.balance | currency: 'VND': 'symbol': '4.0-0'}} </mat-cell>
                                <mat-footer-cell *matFooterCellDef>
                                    {{balanceNumber | currency: 'VND': 'symbol': '4.0-0'}} </mat-footer-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
                        </mat-table>
                        <mat-paginator [length]="totalItems" [pageSize]="pageSize" (page)="pageEvent = onChange($event)"
                        [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>