<!-- <div class="border border-primary"> -->
<mat-card>
    <mat-card-content>
        <div class="container">

            <div *ngIf="!isOpeningNewDepositCreationForm" class="row">
                <div class="col">
                    <button mat-stroked-button color="accent" (click)="onClickNewDepositCreation()">
                        <mat-icon>create_new_folder</mat-icon>Create new Deposit
                    </button>
                </div>
            </div>
            <div *ngIf="isOpeningNewDepositCreationForm" class="row">
                <div class="col">
                    <form [formGroup]="newDepositForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <mat-form-field [floatLabel]='always'>
                                        <mat-label>Customer</mat-label>
                                        <mat-select required formControlName="customer" [(value)]="selectedCustomer">
                                            <mat-option *ngFor="let element of listOfCustomers || async"
                                                [value]="element">
                                                {{element.first_name}}
                                                {{element.last_name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="f.customer.errors && f.customer.errors.required">
                                            Please select a customer
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field [floatLabel]='always'>
                                        <mat-label>Period</mat-label>
                                        <mat-select required formControlName="period" [(value)]="selectedPeriod" (selectionChange)="onChangingPeriod($event.value)">
                                            <mat-option *ngFor="let element of listOfPeriods || async"
                                                [value]="element">
                                                {{element.period}} month(s) -
                                                {{element.interest_rate}} %
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="f.period.errors && f.period.errors.required">
                                            Please select a period
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field [floatLabel]='always'>
                                        <mat-label>Interest payment method</mat-label>
                                        <mat-select required formControlName="deposit_interest_payment_method"
                                            [(value)]="selectedInterestPaymentMethod">
                                            <mat-option *ngFor="let element of listOfInterestPaymentMethod || async"
                                                [value]="element">
                                                {{element.text}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="f.period.errors && f.period.errors.required">
                                            Please select a period
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field [floatLabel]='always' class="full-width">
                                        <input matInput matInputCommified placeholder="deposit value" required
                                            formControlName="deposit_value">
                                        <mat-error *ngIf="f.deposit_value.errors && f.deposit_value.errors.required">
                                            Please fill in the number
                                        </mat-error>
                                        <mat-error
                                            *ngIf="f.deposit_value.errors && f.deposit_value.errors.notAPositiveNumber">
                                            Please fill in a positive number
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <mat-form-field [floatLabel]='always'>
                                        <mat-label>Start date</mat-label>
                                        <input matInput required [ngModel]='selectedStartDay'
                                            [matDatepicker]="exDepositStartDatePicker"
                                            formControlName="deposit_start_date">
                                        <mat-datepicker-toggle matSuffix [for]="exDepositStartDatePicker">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #exDepositStartDatePicker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field [floatLabel]='always'>
                                        <mat-label>End date</mat-label>
                                        <input matInput required [ngModel]='selectedEndDay'
                                            [matDatepicker]="exDepositEndDatePicker" formControlName="deposit_end_date">
                                        <mat-datepicker-toggle matSuffix [for]="exDepositEndDatePicker">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #exDepositEndDatePicker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field [floatLabel]='always'>
                                        <mat-label>Latest do payment date</mat-label>
                                        <input matInput required [ngModel]='selectedStartDay'
                                            [matDatepicker]="exDepositLatestInterestPaymentDatePicker"
                                            formControlName="latest_interest_payment_date">
                                        <mat-datepicker-toggle matSuffix
                                            [for]="exDepositLatestInterestPaymentDatePicker">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #exDepositLatestInterestPaymentDatePicker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field [floatLabel]='always' class="full-width">
                                        <input matInput matInputCommified placeholder="deposit interest rate" required
                                            formControlName="deposit_interest_rate"
                                            [ngModel]="selectedPeriod.interest_rate">
                                        <mat-error
                                            *ngIf="f.deposit_interest_rate.errors && f.deposit_interest_rate.errors.required">
                                            Please fill in the number
                                        </mat-error>
                                        <mat-error
                                            *ngIf="f.deposit_interest_rate.errors && f.deposit_interest_rate.errors.notAPositiveNumber">
                                            Please fill in a positive number
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field [floatLabel]='always'>
                                        <mat-label>Interest rate if settling soon</mat-label>
                                        <input matInput matInputCommified required
                                            [ngModel]="selectedPeriod.interest_rate"
                                            formControlName="interest_rate_before_maturity">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary">
                                Create new one
                            </button>
                            <a (click)="onClickCancel()" class="btn btn-link">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col">
                    <mat-toolbar style="background-color:transparent">
                        <mat-toolbar-row>
                            <span>Current deposits</span>
                            <span class="example-spacer"></span>
                            <div class="form-group">

                                <mat-form-field class="mat-form-field-class">
                                    <input matInput (keydown.enter)="onSearchStock($event.target.value)"
                                        [(ngModel)]='sTypingValue'>
                                    <mat-label>Search by customer</mat-label>
                                    <mat-icon matSuffix>search</mat-icon>
                                </mat-form-field>
                            </div>
                            <button mat-icon-button color="primary" (click)="onRefreshDepositsTable()">
                                <mat-icon class="icon" matTooltip="Refresh data">refresh</mat-icon>
                            </button>
                        </mat-toolbar-row>
                    </mat-toolbar>
                    <mat-table #table [dataSource]="listOfDeposits">
                        <ng-container matColumnDef="checked">
                            <mat-header-cell *matHeaderCellDef>Check</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <mat-checkbox (change)="onCheckingRow(element)" [(ngModel)]="element.checked">
                                </mat-checkbox>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="customer">
                            <mat-header-cell *matHeaderCellDef>Customer</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.first_name}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="deposit_value">
                            <mat-header-cell *matHeaderCellDef>Deposit value</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <input matInput readonly matInputCommified [(ngModel)]="element.deposit_value">
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="deposit_period">
                            <mat-header-cell *matHeaderCellDef>Period</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <mat-form-field>
                                    <input matInput disabled matInputCommified [(ngModel)]="element.deposit_period">
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="deposit_start_date">
                            <mat-header-cell *matHeaderCellDef>Deposit date</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.deposit_start_date | date: 'dd-MM, yyyy'}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="deposit_end_date">
                            <mat-header-cell *matHeaderCellDef>End date</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.deposit_end_date | date: 'dd-MM, yyyy'}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="interest_rate">
                            <mat-header-cell *matHeaderCellDef>Interest rate</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.interest_rate}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="interest_rate_before_maturity">
                            <mat-header-cell *matHeaderCellDef>Settlement soon</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.interest_rate_before_maturity}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="interest_payment_method">
                            <mat-header-cell *matHeaderCellDef>Interest settlement method</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.interest_payment_method}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="latest_interest_payment_date">
                            <mat-header-cell *matHeaderCellDef>Latest interest payment</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.latest_interest_payment_date | date: 'dd-MM, yyyy'}}
                            </mat-cell>
                        </ng-container>


                        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{hovered: row.hovered}"
                            (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
                    </mat-table>
                    <mat-paginator [length]="totalItems" [pageSize]="pageSize"
                        (page)="pageEvent = onTableChange($event)" [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>