<h2>Set a new interest rule</h2>
<form [formGroup]="newInterestFrom" (ngSubmit)="onSubmit()">
    <div class="container-vertical">
        <table class="full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field [floatLabel]='always'>
                        <mat-label>Period (months)</mat-label>
                        <input matInput required  formControlName="period">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field [floatLabel]='always'>
                        <mat-label>Interest (%/year)</mat-label>
                        <input matInput required formControlName="interest_rate"
                        [ngClass]="{ 'is-invalid': submitted && f.interest.errors }">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field [floatLabel]='always'>
                        <mat-label>Description</mat-label>
                        <input matInput required formControlName="description"
                            [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </div>


    <div class="form-group" align="end">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Create new one
        </button>
        <a class="btn btn-link" (click)="onCloseCreationDialog()">Cancel</a>
    </div>
</form>