<div [ngSwitch]="data.type">
    <mat-icon *ngSwitchCase="messageType.ERROR" style='color: red;'>
        error_outline
    </mat-icon>
    <mat-icon *ngSwitchCase="messageType.WARNING" style="color: yellow;">
        warning
    </mat-icon>
    <mat-icon *ngSwitchCase="messageType.INFORMATION" style="color: green;">
        book
    </mat-icon>
    <mat-icon *ngSwitchCase="messageType.ACTIONS" style="color: green;">
        book
    </mat-icon>
    <mat-label *ngSwitchCase="messageType.INFORMATION" style="color: green;">Information</mat-label>
    <mat-label *ngSwitchCase="messageType.WARNING" style="color: yellow;">Warning</mat-label>
    <mat-label *ngSwitchCase="messageType.ERROR" style="color: red;">Error</mat-label>
    <mat-label *ngSwitchCase="messageType.ACTIONS" style="color: red;">Action required</mat-label>
    <h2 mat-dialog-title>{{ data.title }}</h2>
    <mat-divider></mat-divider>
</div>
<div mat-dialog-content>
    <!-- <p>{{ data.message }}</p> -->
    <p [innerHTML]="data.message"></p>
</div>
<div *ngIf="data.type != messageType.ACTIONS" mat-dialog-actions align="end">
    <button *ngIf="data.cancelText" mat-button class="btn btn-cancel" (click)="cancel()">{{ data.cancelText }}</button>
    <button mat-button class="btn" (click)="confirm()">{{ data.confirmText }}</button>
</div>
<div *ngIf="data.type == messageType.ACTIONS" mat-dialog-actions align="end">
    <button mat-stroked-button color="accent" *ngFor="let action of data.Actions" (click)="action.actionFn()">
        {{action.actionText}}
    </button>
</div>