<h2>Set a new tax rule</h2>
<form [formGroup]="newTaxFrom" (ngSubmit)="onSubmit()">
    <div class="container-vertical">
        <table class="full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field [floatLabel]='always'>
                        <mat-label>Valid Date</mat-label>
                        <input matInput required readonly [matDatepicker]="publishedDatePicker"  formControlName="effective_date">
                        <mat-datepicker-toggle matSuffix [for]="publishedDatePicker">
                        </mat-datepicker-toggle>
                        <mat-datepicker #publishedDatePicker></mat-datepicker>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field [floatLabel]='always'>
                        <input matInput placeholder="Tax (%/transaction)" required formControlName="tax"
                            [ngClass]="{ 'is-invalid': submitted && f.tax.errors }">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field [floatLabel]='always'>
                        <input matInput placeholder="Description" required formControlName="description"
                            [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </div>


    <div class="form-group" align="end">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Create new one
        </button>
        <a class="btn btn-link" (click)="onCloseCreationDialog()">Cancel</a>
    </div>
</form>