<h4>Create a new bank</h4>
<form [formGroup]="newBankForm" (ngSubmit)="onSubmit()">
    <div class="container-vertical">
            <tr class="row">
                <td class="col-sm-12 offset-sm-0">
                    <mat-form-field [floatLabel]='always' class="customer-form-field-class">
                        <input matInput placeholder="Bank name: " required formControlName="name"
                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                    </mat-form-field>
                </td>
            </tr>
    </div>


    <div class="form-group" align="end">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Create new one
        </button>
        <a class="btn btn-link" (click)="onCloseCreationDialog()">Cancel</a>
    </div>
</form>