<!-- <div class="border border-primary"> -->
<mat-card>
    <mat-card-content>
        <div class="container">

            <div *ngIf="!isOpeningNewCustomerCreationForm" class="row">
                <div class="col">
                    <button mat-stroked-button color="accent" (click)="onClickNewCustomerCreation()">
                        <mat-icon>create_new_folder</mat-icon>Create new Customer
                    </button>
                </div>
            </div>
            <div *ngIf="isOpeningNewCustomerCreationForm" class="row">
                <div class="col">
                    <form [formGroup]="newCustomerForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <mat-form-field [floatLabel]='always'>
                                        <mat-label>First name</mat-label>
                                        <input matInput placeholder="First name" required formControlName="first_name">
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field [floatLabel]='always'>
                                        <mat-label>Last name</mat-label>
                                        <input matInput placeholder="Last name" required formControlName="last_name">
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field [floatLabel]='always'>
                                        <mat-label>Email</mat-label>
                                        <input matInput placeholder="Email" required formControlName="email">
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field [floatLabel]='always'>
                                        <mat-label>Phone number</mat-label>
                                        <input matInput placeholder="Phone number" required
                                            formControlName="phone_number">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <mat-form-field [floatLabel]='always'>
                                        <mat-label>Customer code</mat-label>
                                        <input matInput placeholder="Customer code" required
                                            formControlName="customer_code">
                                        <mat-error *ngIf="f.customer_code.errors && f.customer_code.errors.required">
                                            Please fill in Customer code
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field [floatLabel]='always'>
                                        <mat-label>Bank name</mat-label>
                                        <input matInput placeholder="Bank name" required formControlName="bank_name">
                                        <mat-error *ngIf="f.bank_name.errors && f.bank_name.errors.required">
                                            Please fill in Bank name
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field [floatLabel]='always' class="full-width">
                                        <input matInput placeholder="Bank branch" required
                                            formControlName="bank_branch">
                                        <mat-error *ngIf="f.bank_branch.errors && f.bank_branch.errors.required">
                                            Please fill in Bank branch
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field [floatLabel]='always' class="full-width">
                                        <input matInput placeholder="Bank account No." required
                                            formControlName="bank_account_no">
                                        <mat-error
                                            *ngIf="f.bank_account_no.errors && f.bank_account_no.errors.required">
                                            Please fill in the Bank account no.
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary">
                                Create
                            </button>
                            <a (click)="onClickCancel()" class="btn btn-link">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col">
                    <mat-toolbar style="background-color:transparent">
                        <mat-toolbar-row>
                            <span>Current customers</span>
                            <span class="example-spacer"></span>

                            <div class="form-group">

                                <mat-form-field class="mat-form-field-class">
                                    <input matInput (keydown.enter)="onSearchName($event.target.value)"
                                        [(ngModel)]='sTypingValue'>
                                    <mat-label>Search by name</mat-label>
                                    <mat-icon matSuffix>search</mat-icon>
                                </mat-form-field>
                            </div>
                            <button mat-icon-button color="primary" (click)="onRefreshDividendScheduleTable()">
                                <mat-icon class="icon" matTooltip="Refresh data">refresh</mat-icon>
                            </button>
                            <button mat-icon-button [disabled]="!isSomeRowBeingChecked" color="primary"
                                (click)="onUpdateCustomer()">
                                <mat-icon class="icon" matTooltip="Save">save</mat-icon>
                            </button>
                        </mat-toolbar-row>
                    </mat-toolbar>
                    <mat-table #table [dataSource]="listOfCurrentCustomers">
                        <ng-container matColumnDef="checked">
                            <mat-header-cell *matHeaderCellDef>Check</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <mat-checkbox (change)="onCheckingRow(element)" [(ngModel)]="element.checked">
                                </mat-checkbox>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="customer_name">
                            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.first_name}} {{element.last_name}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="phone_number">
                            <mat-header-cell *matHeaderCellDef>Phone No.</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <mat-form-field floatLabel="never">
                                    <input matInput [readonly]="!element.checked" [disabled]="!element.checked" placeholder="Phone number"
                                        [(ngModel)]="element.phone_number">
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="email">
                            <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <mat-form-field floatLabel="never">
                                    <input matInput [readonly]="!element.checked" [disabled]="!element.checked" placeholder="Email"
                                        [(ngModel)]="element.email">
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="bank_name">
                            <mat-header-cell *matHeaderCellDef>Bank name</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <mat-form-field floatLabel="never">
                                    <input matInput [readonly]="!element.checked" [disabled]="!element.checked"
                                        placeholder="Bank name" [(ngModel)]="element.bank_name">
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="bank_account_no">
                            <mat-header-cell *matHeaderCellDef>Bank account No.</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <mat-form-field floatLabel="never">
                                    <input matInput [readonly]="!element.checked" [disabled]="!element.checked"
                                        placeholder="Bank account no." [(ngModel)]="element.bank_account_number">
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="bank_branch">
                            <mat-header-cell *matHeaderCellDef>Bank branch</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <mat-form-field floatLabel="never">
                                    <input matInput [readonly]="!element.checked" [disabled]="!element.checked"
                                        placeholder="Bank branch" [(ngModel)]="element.bank_branch">
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>


                        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{hovered: row.hovered}"
                            (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
                    </mat-table>
                    <mat-paginator [length]="totalItems" [pageSize]="pageSize"
                        (page)="pageEvent = onTableChange($event)" [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>