﻿<!-- <h1>Hi {{currentUser.firstName}}!</h1> -->
<p>Home Page of AF-IC App</p>
<h3>All registered users:</h3>
<ul>
    <!-- <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li> -->
</ul>