<div style="margin-top: 67px;" >
    <div  autosize style="height: 85.5vh;">
        <h2>{{'REPORTS' | translate}}</h2>
        <div class="scroll-container border scrollbar-deep-purple bordered-deep-purple thin">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>