<select #langSelect (change)="setLanguage(langSelect.value)">
  <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">
    {{ lang }}</option>
</select>