<!-- <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-2">
                <h2>AF Home page</h2>
            </div>
        </div>
    </div>
</div> -->

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 offset-sm-0">
                <h2>AF Admin Home</h2>
            </div>

        </div>
    </div>
</div>