    <h2>Add New Stock</h2>
    <form [formGroup]="newStockForm" (ngSubmit)="onSubmit()">
        <div>
            <table cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field [floatLabel]='always'>
                            <input matInput placeholder="Stock" required formControlName="stock"
                                [ngClass]="{ 'is-invalid': submitted && f.period.errors }">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field [floatLabel]='always'>
                            <input matInput placeholder="Escrow rate (%)" required formControlName="escrow_rate"
                                [ngClass]="{ 'is-invalid': submitted && f.escrow_rate.errors }">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </div>


        <div class="form-group" align="end">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Create new one
            </button>
            <a class="btn btn-link" (click)="onCloseCreationDialog()">Cancel</a>
            <!-- <a routerLink="/ic/admin/" class="btn btn-link">Cancel</a> -->
        </div>
    </form>