
// .mat-elevation-z6 {
//     box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
// }

.app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    // display: block;
}
// html, body, mat-sidenav-container, mat-sidenav-content,mat-sidenav-container {
//         height: 100%;
//         margin: 0px;
//     }
//     .bodyClass {
//         height: 100%;
//     }
