<mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav role="navigation">
        <af-sidenav-list (sidenavClose)="sidenav.close()"></af-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>

        <af-header fxLayout="column" (sidenavToggle)="sidenav.toggle()" style="width: 100%;"
            class="mat-elevation-z6 app-navbar">
        </af-header>
        <div class="content" fxLayout="column" fxFlex>
            <router-outlet></router-outlet>
        </div>
        <div fxLayout="column" class="af-footer">
            <af-footer fxLayout="column"></af-footer>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>