<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 offset-sm-0">
                <h2>IC Trading Management</h2>
                <div>
                    <!-- <div class="card-container border border-primary scrollbar-deep-purple bordered-deep-purple thin"> -->
                    <div class="scroll-container border scrollbar-deep-purple bordered-deep-purple thin">
                        <mat-card class="list-published-ic-card card-element-boundary"
                            *ngFor="let element of currentPublishedICs; let index=index; let odd=odd; let even=even;">
                            <mat-card-header>
                                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                                <mat-card-title>IC code: {{element.ic_published_id}}</mat-card-title>
                                <mat-card-subtitle>Denomination: {{element.ic_published_base_price}} VND
                                </mat-card-subtitle>
                                <mat-card-subtitle>Today price: {{element.ic_published_current_price}} VND
                                </mat-card-subtitle>
                                <mat-card-subtitle>Duedate: {{element.ic_published_duedate  | date}}</mat-card-subtitle>
                            </mat-card-header>
                            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                            alt="Photo of a Shiba Inu"> -->
                            <mat-card-content>
                                <p>
                                    <!-- The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                                Japan.
                                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                                originally
                                bred for hunting. -->
                                </p>
                            </mat-card-content>
                            <mat-card-footer>
                                <mat-progress-bar mode="determinate" [value]="element.percent"></mat-progress-bar>
                            </mat-card-footer>
                        </mat-card>
                    </div>
                    <div class="border border-primary">
                        <form [formGroup]="icTradingForm" (ngSubmit)="onSubmitTradingAction()"
                            style='padding-left:5px; padding-top: 5px; padding-right: 5px;'>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <!-- 1 of 2 -->
                                        <mat-form-field [floatLabel]='always'>
                                            <mat-label>Action</mat-label>
                                            <mat-select required formControlName="tradingAction"
                                                (selectionChange)="onChangeTradingAction()">
                                                <mat-option *ngFor="let action of tradingActions" [value]="action">
                                                    {{action.value}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <!-- 1 of 2 -->
                                        <mat-form-field [floatLabel]='always'>
                                            <mat-label>Published ICs</mat-label>
                                            <mat-select required formControlName="icCode"
                                                [(value)]="selectedPublishedICForAction">
                                                <mat-option *ngFor="let element of currentPublishedICs"
                                                    [value]="element">
                                                    {{element.ic_published_id}} 
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <!-- 1 of 2 -->
                                        <mat-form-field [floatLabel]='always'>
                                            <mat-label>Amount</mat-label>
                                            <input matInput placeholder="Published IC Interest" required
                                                formControlName="actionAmount">
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <!-- 1 of 2 -->
                                        <mat-form-field [floatLabel]='always'>
                                            <mat-label>Price (VND)</mat-label>
                                            <input matInput readonly 
                                                formControlName="priceAction" required [ngModel]='!!selectedPublishedICForAction.ic_published_current_price ? selectedPublishedICForAction.ic_published_current_price : 0'>
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <!-- 1 of 2 -->
                                        <mat-form-field [floatLabel]='always'>
                                            <mat-label>Total</mat-label>
                                            <input matInput readonly required placeholder="Published IC Interest"
                                                formControlName="totalCost" [ngModel]='!!selectedPublishedICForAction.ic_published_current_price && !!f.actionAmount ? f.actionAmount.value*selectedPublishedICForAction.ic_published_current_price : 0'>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-sm-3 offset-sm-0">
                                        <div class="" *ngIf="f.tradingAction.value.code=='BUY'">
                                            <div class="row">
                                                <div class='col'>
                                                    <mat-label>Cash</mat-label>
                                                </div>
                                            </div>
                                            <div class="row border">
                                                <div class='col'>
                                                    <div class='row'>
                                                        <div class='col'>Total Cash</div>
                                                        <div class='col'>
                                                            {{currentFinanceInfo.cashInAccount}}
                                                        </div>

                                                    </div>
                                                    <div class='row'>
                                                        <div class='col'>
                                                            Valid Cash
                                                        </div>
                                                        <div class='col'>
                                                            {{currentFinanceInfo.validCashForBuying}}
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="" *ngIf="f.tradingAction.value.code=='SELL'">
                                            <div class="row">
                                                <div class='col'>IC</div>
                                            </div>
                                            <div class="row">
                                                <div class='col'>List of current IC</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <button [disabled]="loading" class="btn btn-primary">
                                                <span *ngIf="loading"
                                                    class="spinner-border spinner-border-sm mr-1"></span>
                                                Buy
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>