<!-- <div class="border border-primary"> -->
<mat-card>
    <mat-card-content>
        <div class="container">

            <div *ngIf="!isOpeningNewDividendCreationForm" class="row">
                <div class="col">
                    <button mat-stroked-button color="accent" (click)="onClickNewDividendCreation()">
                        <mat-icon>create_new_folder</mat-icon>Create new Dividend schedule
                    </button>
                </div>
            </div>
            <div *ngIf="isOpeningNewDividendCreationForm" class="row">
                <div class="col">
                    <form [formGroup]="newDividendForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <mat-form-field [floatLabel]='always'>
                                        <mat-label>Stocks</mat-label>
                                        <mat-select required formControlName="stock" [(value)]="selectedStock">
                                            <mat-option *ngFor="let element of listOfStocks || async" [value]="element">
                                                {{element.code}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="f.stock.errors && f.stock.errors.required">
                                            Please select a suitable Stock
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field [floatLabel]='always' class="full-width">
                                        <input matInput matInputCommified placeholder="In cash (VND)" required
                                            formControlName="in_cash">
                                        <mat-error *ngIf="f.in_cash.errors && f.in_cash.errors.required">
                                            Please fill in the number
                                        </mat-error>
                                        <mat-error *ngIf="f.in_cash.errors && f.in_cash.errors.notAPositiveNumber">
                                            Please fill in a positive number
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field [floatLabel]='always' class="full-width">
                                        <input matInput placeholder="In stock (%)" required formControlName="in_stock">
                                        <mat-error *ngIf="f.in_stock.errors && f.in_stock.errors.required">
                                            Please fill in the number
                                        </mat-error>
                                        <mat-error *ngIf="f.in_stock.errors && f.in_stock.errors.notAPositiveNumber">
                                            Please fill in a positive number
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field [floatLabel]='always'>
                                        <mat-label>Date</mat-label>
                                        <input matInput required [ngModel]='defaultSelectedDay'
                                            [matDatepicker]="exDividendDatePicker" [min]="minValidExDividendDate"
                                            [matDatepickerFilter]="invalidPublishedDate"
                                            formControlName="ex_dividend_date">
                                        <mat-datepicker-toggle matSuffix [for]="exDividendDatePicker">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #exDividendDatePicker [startAt]="startDate"></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary">
                                Apply
                            </button>
                            <a (click)="onClickCancel()" class="btn btn-link">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col">
                    <mat-toolbar style="background-color:transparent">
                        <mat-toolbar-row>
                            <span>Current pending dividends</span>
                            <span class="example-spacer"></span>
                            <div class="form-group">

                                <mat-form-field class="mat-form-field-class">
                                    <input matInput (keydown.enter)="onSearchStock($event.target.value)"
                                        [(ngModel)]='sTypingValue'>
                                    <mat-label>Search by stock</mat-label>
                                    <mat-icon matSuffix>search</mat-icon>
                                </mat-form-field>
                            </div>
                            <button mat-icon-button color="primary" (click)="onRefreshDividendScheduleTable()">
                                <mat-icon class="icon" matTooltip="Refresh data">refresh</mat-icon>
                            </button>
                        </mat-toolbar-row>
                    </mat-toolbar>
                    <mat-table #table [dataSource]="listOfDividendSchedules">
                        <ng-container matColumnDef="checked">
                            <mat-header-cell *matHeaderCellDef>Check</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <mat-checkbox (change)="onCheckingRow(element)" [(ngModel)]="element.checked">
                                </mat-checkbox>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="stock">
                            <mat-header-cell *matHeaderCellDef>Stock</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.stock.code}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="dividend_in_stock">
                            <mat-header-cell *matHeaderCellDef>Dividend in Stock</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.dividend_in_stock}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="dividend_in_cash">
                            <mat-header-cell *matHeaderCellDef>Dividend in Cash</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <mat-form-field>
                                    <input matInput disabled matInputCommified [value]="element.dividend_in_cash">
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="ex_dividend_date">
                            <mat-header-cell *matHeaderCellDef>Ex-Dividend Date</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.ex_dividend_date | date: 'MMM dd, yyyy HH:mm:ss'}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{displayScheduleStatus[element.status]}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span class="mat-cell">
                                    <button *ngIf='element.status == dividendScheduleStatus.NEW' mat-icon-button
                                        style='color: green;' matTooltip="Apply this schedule"
                                        (click)='onClickApplySchedule(element)'>
                                        <mat-icon>schedule</mat-icon>
                                    </button>
                                    <button *ngIf='element.status == dividendScheduleStatus.APPLY' mat-icon-button
                                        color="warn"
                                        matTooltip="Done this schedule, just click when the stock is valid and cash is transfered to customer account"
                                        (click)='onClickDoneSchedule(element)'>
                                        <mat-icon>gavel</mat-icon>
                                    </button>
                                </span>
                            </mat-cell>
                        </ng-container>


                        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{hovered: row.hovered}"
                            (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
                    </mat-table>
                    <mat-paginator [length]="totalItems" [pageSize]="pageSize"
                        (page)="pageEvent = onTableChange($event)" [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>