<mat-card>
    <mat-card-content>
        <form [formGroup]="stockOrderForm" (ngSubmit)="onSubmitTradingAction()"
            style='padding-left:5px; padding-top: 5px; padding-right: 5px;'>
            <div class="container">
                <div class="row">
                    <div class="col-sm-1 offset-sm-0">
                        <mat-form-field [floatLabel]='always'>
                            <mat-label>{{'ORDER_TYPE_LBL' | translate}}</mat-label>
                            <mat-select required formControlName="orderType"
                                (selectionChange)="onChangingOrderType($event.value)">
                                <mat-option *ngFor="let type of orderTypes" [value]="type">
                                    {{type.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-5 offset-sm-1">
                        <mat-form-field [floatLabel]='always' class="customer-form-field-class">
                            <input type="text" matInput placeholder="{{'CUSTOMER_LBL' | translate}}"
                                aria-label="Customer" [matAutocomplete]="auto" formControlName="customer"
                                (input)="onTyping($event.target.value)">
                            <mat-autocomplete #auto="matAutocomplete"
                                (optionSelected)="onChangingCustomer($event.option.value)"
                                [displayWith]="displayProperty">
                                <mat-option *ngFor="let customerItem of listOfCustomers" [value]="customerItem">
                                    <!-- <img class="example-option-img" aria-hidden [src]="customer.flag" height="25"> -->
                                    <span>{{customerItem.name}}</span> |
                                    <small>{{customerItem.mobile}} | {{customerItem.email}}</small>
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field [floatLabel]='always'>
                            <mat-label>{{'STOCKS_LBL' | translate}}</mat-label>
                            <mat-select required formControlName="orderStock" [(value)]="selectedStockAction">
                                <mat-option *ngFor="let element of listOfStocks || async" [value]="element">
                                    {{element.code}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="f.orderStock.errors && f.orderStock.errors.required">
                                Please select a suitable Stock
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field [floatLabel]='always'>
                            <mat-label>{{'QUANTITY_LBL' | translate}}</mat-label>
                            <input matInput required matInputCommified formControlName="orderQuantity">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field [floatLabel]='always'>
                            <mat-label>{{'MIN_PRICE_LBL' | translate}}</mat-label>
                            <input matInput matInputCommified formControlName="minPriceAction" required>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field [floatLabel]='always'>
                            <mat-label>{{'MAX_PRICE_LBL' | translate}}</mat-label>
                            <input matInput matInputCommified formControlName="maxPriceAction" required>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field [floatLabel]='always'>
                            <mat-label>{{'MAX_TOTAL_LBL' | translate}}</mat-label>
                            <input matInput readonly matInputCommified required formControlName="totalCost"
                                [ngModel]='!!f.orderQuantity ? f.orderQuantity.value*f.maxPriceAction.value : 0'>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field [floatLabel]='always'>
                            <mat-label>{{'MIN_ESCROW_VALUE' | translate}}</mat-label>
                            <input matInput readonly matInputCommified required formControlName="minEscrowValue"
                                [ngModel]='getMinEscrowValue()'>
                            <mat-error *ngIf="f.minEscrowValue.errors && f.minEscrowValue.errors.insufficentToWithdraw">
                                {{'ERROR_TOTAL_AMOUNT_TXT' | translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field [floatLabel]='always'>
                            <mat-label>{{'DATE_LBL' | translate}}</mat-label>
                            <input matInput required [ngModel]='defaultOrderDate' [matDatepicker]="publishedDatePicker"
                                [min]="minValidOrderDate" [max]="maxValidOrderDate"
                                [matDatepickerFilter]="invalidPublishedDate" formControlName="orderDate">
                            <mat-datepicker-toggle matSuffix [for]="publishedDatePicker">
                            </mat-datepicker-toggle>
                            <mat-datepicker #publishedDatePicker [startAt]="startDate"></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col" *ngIf="f.orderType.value.code == orderType.SELL">
                        <mat-form-field [floatLabel]='always'>
                            <mat-label>{{'TAX_RATE_LBL' | translate}}</mat-label>
                            <input matInput formControlName="tax_rate" [ngModel]="currentApplyingTax">
                        </mat-form-field>
                    </div>
                    <div class="col" *ngIf="f.orderType.value.code == orderType.BUY">
                        <mat-form-field [floatLabel]='always'>
                            <mat-label>{{'ESCROW_LBL' | translate}}</mat-label>
                            <input matInput readonly formControlName="escrowRate"
                                [ngModel]="selectedStockAction.escrow_rate" required>
                            <mat-error *ngIf="f.escrowRate.errors && f.escrowRate.errors.notEnoughForBuying">
                                {{'ERROR_MISSING_SELECTED_STOCK' | translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col" *ngIf="f.orderType.value.code == orderType.BUY">
                        <mat-form-field [floatLabel]='always'>
                            <mat-label>{{'ESCROW_RCA_LBL' | translate}}</mat-label>
                            <input matInput formControlName="escrowRCA" required>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field [floatLabel]='always'>
                            <mat-label>{{'TRANSACTION_COST_RATE_LBL' | translate}}</mat-label>
                            <input matInput formControlName="transaction_cost_rate" [ngModel]="currentApplyingTransactionCost">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col" *ngIf="f.orderType.value.code == orderType.BUY">
                        <mat-form-field [floatLabel]='always' >
                            <mat-label>{{'CURRENT_INTEREST' | translate}}</mat-label>
                            <input matInput [readonly]='f.interest_fixed.value === typeOfInterest.FLOATING_INTEREST'
                                formControlName="interest" [ngModel]='currentApplyingInterest'>
                        </mat-form-field>
                    </div>
                    <div class="col" *ngIf="f.orderType.value.code == orderType.BUY">
                        <mat-form-field [floatLabel]='always'>
                            <mat-label>{{'PERIOD_LBL' | translate}}</mat-label>
                            <input matInput readonly formControlName="period">
                        </mat-form-field>
                    </div>
                    <div class="col" *ngIf="f.orderType.value.code == orderType.BUY" >
                        <mat-radio-group formControlName='interest_fixed' [(ngModel)]="defaultInterestType" (change)="radioInterestTypeChange()">
                            <mat-radio-button [value]="typeOfInterest.FLOATING_INTEREST">Floating rate</mat-radio-button>
                            <mat-radio-button [value]="typeOfInterest.FIXED_INTEREST">Fixed rate</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col" *ngIf="f.orderType.value.code == orderType.SELL" >
                        <mat-radio-group formControlName='interest_settlement_method' [(ngModel)]="defaultInterestSettlementMethod" (change)="radioInterestInterestSettlementMethodChange()">
                            <mat-radio-button [value]="interestSettlementMethod.AT_THE_END_OF_MONTH">{{'INTEREST_SETTLEMENT_LATER' | translate}}</mat-radio-button>
                            <mat-radio-button [value]="interestSettlementMethod.ON_SELLING">{{'INTEREST_SETTLEMENT_NOW' | translate}}</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col">
                        <mat-form-field [floatLabel]='always'>
                            <mat-label>{{'NOTE_LBL' | translate}}</mat-label>
                            <input matInput formControlName="orderNote">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-3 offset-sm-0">
                        <div class="" *ngIf="f.orderType.value.code == orderType.BUY">
                            <div class="row">
                                <div class='col'>
                                    <mat-label>{{'CASH_LBL' | translate}}</mat-label>
                                </div>
                            </div>
                            <div class="row border">
                                <div class='col'>
                                    <div class='row'>
                                        <div class='col'>{{'TOTAL_CASH_LBL' | translate}}</div>
                                        <div class='col'>
                                            <input matInput readonly matInputCommified
                                                [value]='currentFinanceInfo.currentBalance'>
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='col'>
                                            {{'VALID_CASH_LBL' | translate}}
                                        </div>
                                        <div class='col'>
                                            <input matInput readonly matInputCommified
                                                [value]='currentFinanceInfo.validCashForBuying'>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="" *ngIf="f.orderType.value.code == orderType.SELL">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <td>{{'STOCK_LBL' | translate}}</td>
                                        <td>{{'VALID_QUANTITY_FOR_SELLING_LBL' | translate}}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let stock of listOfStocks">
                                        <td>{{stock.code}}</td>
                                        <td>{{stock.valid_quantity}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <button mat-stroked-button color="accent">
                                <mat-icon>save</mat-icon>{{'SUBMIT_BTN' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>